#ztree .level0 a .button{
    background:url('/static/public/ztree/css/ztreestandard/img/1_open.png') 0 0 no-repeat;
}
#ztree .level0 a .button.ico_close{
    background:url('/static/public/ztree/css/ztreestandard/img/1_close.png') 0 0 no-repeat;
}
#ztree .level1 a .button , #ztree .level1 a .button.ico_close{
    background:url('/static/public/ztree/css/ztreestandard/img/3.png') 0 0 no-repeat;
}
#ztree .level2 a .button, #ztree .level2 a .button.ico_close{
    background:url('/static/public/ztree/css/ztreestandard/img/8.png') 0 0 no-repeat;
}
#ztree .level3 a .button, #ztree .level3 a .button.ico_close{
    background:url('/static/public/ztree/css/ztreestandard/img/9.png') 0 0 no-repeat;
}
#ztree .level4 a .button, #ztree .level4 a .button.ico_close{
    background:url('/static/public/ztree/css/ztreestandard/img/10.png') 0 0 no-repeat;
}
#ztree .level5 a .button, #ztree .level5 a .button.ico_close{
    background:url('/static/public/ztree/css/ztreestandard/img/12.png') 0 0 no-repeat;
}
#ztree .level6 a .button, #ztree .level6 a .button.ico_close{
    background:url('/static/public/ztree/css/ztreestandard/img/13.png') 0 0 no-repeat;
}
