{include file="../app/public/common_header.html"}
<style>
    .layui-tab-title  li{
        padding: 0 20px;
    }
    #tableItem thead tr th,#tableItemDone thead tr th{
        border-right: 1px solid #ddd;
        border-collapse: collapse;
    }
    #tableItem thead tr th:first-child, #tableItemDone thead tr th:first-child{
        border-left: 1px solid #ddd;
    }
    #tableItem .even,#tableItemDone .even,thead tr{
        background-color: #ececec;
    }
    #tableItem .odd,#tableItemDone .odd{
        background-color: #fff;
    }
    .layui-table th{
        text-align: center;
    }
    .tbcontainerDone{
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 5px;
        width: 100%;
        line-height: 34px;
        background: #FFF;
        border: 1px solid #cecece;
        border-top: none;
    }
    .con_Style{
        display: inline-block;
        color: white;
        background-color: #009688;
        height: 24px;
        width: 35px;
        line-height: 24px;
        border-radius: 5px;
    }
    a:hover{
        color: #fff;
    }
</style>

<div class="layui-tab layui-tab-card" style="height: 100%;" lay-filter="test1">
    <ul class="layui-tab-title">
        <li class="layui-this">待办任务</li>
        <li>已办任务</li>
    </ul>
    <div class="layui-tab-content" style="height: 100%;">
        <div class="layui-tab-item layui-show">
            <table id="tableItem" class="table cell-border" cellspacing=0"  width="100%">
                <thead>
                    <tr>
                        <th>任务名称</th>
                        <th>接收日期</th>
                        <th>发送人</th>
                        <th>任务类别</th>
                        <th>操作</th>
                        <th>id</th>
                        <th>主键id</th>
                    </tr>
                </thead>
            </table>
            <div class="tbcontainer">
                <div class="mark"></div>
            </div>
        </div>
        <div class="layui-tab-item">
            <table id="tableItemDone" class="table cell-border " cellspacing=0"  width="100%">
                <thead>
                <tr>
                    <th>任务名称</th>
                    <th>接收日期</th>
                    <th>发送人</th>
                    <th>任务类别</th>
                    <th>操作</th>
                    <th>id</th>
                    <th>主键id</th>
                </tr>
                </thead>
            </table>
            <div class="tbcontainerDone">
                <div class="markDone"></div>
            </div>
        </div>
    </div>

    <!--收文文件查看以及处理-->
    <div id="file_modal" style="display: none;">
        <form action="#" class="layui-form" onsubmit="return false">
            <input type="hidden" value="" id="major_key">
            <div class="layui-form-item">
                <div class="autograph">
                    <label class="layui-form-label">文件名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="file_name" id="file_name" readonly="readonly" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="autograph">
                    <label class="layui-form-label">文件日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" readonly="readonly" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="autograph">
                    <label class="layui-form-label">发件人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="income_name" id="income_name" readonly="readonly" class="layui-input">
                        <input type="hidden" name="income_id" id="income_id">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="autograph">
                    <label class="layui-form-label">来文单位</label>
                    <div class="layui-input-inline">
                        <input type="text" name="unit_name" id="unit_name" readonly="readonly" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="autograph">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <textarea name="remark" id="remark" class="layui-textarea" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="display: none;">
                <div class="autograph">
                    <label class="layui-form-label">关联收文</label>
                    <div class="layui-input-inline">
                        <input type="text" name="relevance_id" id="relevance_id" readonly="readonly" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="autograph">
                    <!--附件资料-->
                    <label class="layui-form-label">来文附件</label>
                    <div class="layui-input-inline">
                        <table id="add_table_files" class="layui-table" cellspacing="0"  width="100%" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th >文件名称</th>
                                    <th >操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" id="addSubmit">
                <label class="layui-form-label"></label>
                    <div class="layui-input-inline layui-col-md-offset6">
                        <button class="layui-btn" onclick="saveInter(3)"  >签收</button>
                        <button class="layui-btn layui-btn-primary"  onclick="saveInter(4)" >拒收</button>
                    </div>
            </div>
        </form>
        <div id="form_container"></div>
    </div>
</div>
<form id="back_info" action="" class="layui-form layui-layer-wrap" style="display: none;width: 600px;margin: auto">
    <input type="hidden" name="cpr_id" id="cpr_id">
    <input type="hidden" name="id">
    <input type="hidden" name="currentStep">
    <div class="layui-form-item">
        <label class="layui-form-label">任务名称</label>
        <div class="layui-input-block">
            <input type="text" name="taskName" id="taskName"  readonly  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: -20px">
        <label class="layui-form-label" style="position: relative;bottom: 10px;">工程名称<br>及编号</label>
        <div class="layui-input-block">
            <input type="text" name="dwName" id="dwName"  readonly  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">起止桩号</label>
        <div class="layui-input-block">
            <input type="text" name="altitude" id="altitude"  readonly  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">起止高程</label>
        <div class="layui-input-block">
            <input type="text" name="pileNo" id="pileNo" readonly  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item hideInfo" style="display: none;">
        <label class="layui-form-label">退回信息</label>
        <div class="layui-input-block">
            <input type="text" name="backremark" id="backremark" readonly  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审批历史</label>
        <div class="layui-input-block">
            <table id="tableItemChose" class="table cell-border" cellspacing="0"  width="100%">
                <thead>
                    <tr>
                        <th>审批人</th>
                        <th>审批日期</th>
                        <th>审批结果</th>
                        <th>审批意见</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="layui-form-item showInfo" style="display: none;">
        <a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-sm" style="float: right;" onclick="backOperation()">处理</a>
    </div>
</form>
{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/admin/dashboard/index.js"></script>
<script>

</script>
</body>
</html>