{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__WEBSITE__/modelmanagement/versions/index.css">
<div data-options="region:'center',title:''" style="padding:10px;">
    <div id="tt" class="easyui-tabs" style="width:100%;height:100%;">
        <div title="竣工模型" style="padding:20px;display:none;">
            <table id="completedTable" class="table table-striped table-bordered" cellspacing="0"  width="100%">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>资源包名称</th>
                    <th>资源路径</th>
                    <th>版本</th>
                    <th>版本日期</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
        <div title="施工模型" style="overflow:auto;padding:20px;display:none;">
            <table id="constructionTable" class="table table-striped table-bordered" cellspacing="0"  width="100%">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>资源包名称</th>
                    <th>资源路径</th>
                    <th>版本</th>
                    <th>版本日期</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- 新增模型弹层 -->
<div id="addModelLayer" style="display: none;padding-right: 20px">
    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">资源包名称</label>
            <div class="layui-input-block">
                <input type="text" name="resource_name" id="resource_name" required  lay-verify="required" placeholder="上传后资源包名称会显示在这里" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传模型</label>
            <div class="layui-input-inline" style="width: 65px;">
                <div id="addModel"></div>
            </div>
            <div class="layui-form-mid layui-word-aux">注意：资源包名称不能重复</div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remake" id="remake" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save" id="save">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="close">关闭</button>
            </div>
        </div>
    </form>
</div>

{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/modelmanagement/versions/index.js"></script>
</body>
</html>