{include file="../app/public/common_header.html"}
<input type="hidden" id="modelIdArr">
<div data-options="region:'center',title:''" style="border: 0">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" class="layer-center">
            <object id="RealBimOcx" classid="CLSID:2CD7E1BE-10B8-4A1C-B908-4FB7D4FD4ABD"  width="100%" height="100%"></object>
            <!-- 初始化 -->
            <script language="javascript"   for="RealBimOcx" EVENT="OnRealBimOcxInited()" type="text/javascript">
                //获取模型版本
                var modelPath = "http://192.168.1.2:8008/default.aspx?dir=url_res02&path=";
                $.ajax({
                    url: "/modelmanagement/qualitymass/resourcePagName",
                    type: "post",
                    dataType: "json",
                    data:{
                        model_type:1
                    },
                    success: function (res) {
                        //模型名称
                        var modelName = res.pag_name;
                        RealBimOcx.SwitchBIMSceneSimple(modelPath,modelName);
                    }
                });
                RealBimOcx.SetSceVersionInfoExt(100, -1, 0, 2000000000);
                RealBimOcx.CreateAGolFont("CustomFont01","微软雅黑",true,true,14,14,32,1.0,0*64,"");
                RealBimOcx.CreateAGolFont("CustomFont02","微软雅黑",true,true,12,12,8,1.0,0*64,"");
            </script>
            <!-- 初始化完成 -->
            <script language="javascript"   for="RealBimOcx" EVENT="WorkCompleteNotification(CompleteEvent,retError)" type="text/javascript">
                if(CompleteEvent == "LoadMainScene" && retError==0 ){
                    RealBimOcx.SetAllHugeObjSubValidState(1);
                    RealBimOcx.SetSceHugeObjVisible(true);
                }
                RealBimOcx.SetSuitableCam();

                $.ajax({
                    url: "/modelmanagement/qualitymass/configureInfo",
                    type: "get",
                    dataType: "json",
                    success: function (res) {
                        modelColor = +(res.configureInfo.panorama.pigment);
                        modelTrans = res.configureInfo.panorama.pellucidity;
                        console.log('初始化时获取到的透明度：'+modelTrans);
                        console.log('初始化时获取到的颜色：'+modelColor);
                    }
                });

            </script>
            <!-- 点击模型事件 -->
            <script language="javascript"  for="RealBimOcx" EVENT="OnCurSelModelChanged(strObjName, uObjSubID,   fObjSelX, fObjSelY, fObjSelZ,  fObjBVMinX,fObjBVMinY,fObjBVMinZ,  fObjBVMaxX,fObjBVMaxY,fObjBVMaxZ)" type="text/javascript">
                RealBimOcx.DelAttrMask('AttrMask');
                uObjSubIdSingle = uObjSubID;
                var test;   //属性蒙版
                isSelect = true;
                //单选/多选模型
                // TODO 此处需要重构
                if(!isCtrlDown){
                    uObjSubIDArr = [];
                    hiddenArr = [];
                    modelIdArr = [];
                    RealBimOcx.SetAllSubClrInfos(0,0,0xff); //颜色重置为空
                    uObjSubIDArr.push(uObjSubID);
                    hiddenArr.push(uObjSubID);
                    $.ajax({
                        url: "/modelmanagement/qualitymass/attributeArr",
                        type: "post",
                        data: {
                            uObjSubIDArr:uObjSubIDArr
                        },
                        dataType: "json",
                        success: function (res) {
                            var modelId = res.data.model_id;
                            var attribute = res.data.attribute;
                            console.log('点击模型时获取到的透明度：'+modelTrans);
                            console.log('点击模型时获取到的颜色：'+modelColor);
                            RealBimOcx.BatchAddSubClrInfoBegin();
                            for(var i = 0;i<modelId.length;i++){
                                modelIdArr.push(modelId[i]);
                                RealBimOcx.AddSubClrPercent(modelId[i],modelTrans,modelColor);    //第二个参数为透明度
                            }
                            RealBimOcx.BatchAddSubClrInfoEnd();
                            $('#modelIdArr').val(modelIdArr);
                            for(var j = 0;j<attribute.length;j++){
                                test += '\n\n\ \1cf[4286644223]'+ attribute[j].attribute_name + '\1cf[4294934592]' + attribute[j].attribute_val;
                            }
                            if(test==undefined){
                                return false;
                            }
                            RealBimOcx.SetInfoBox(test,-260,85,-22,-155,-270,184,-12,-184);
                        }
                    });
                }else{
                    uObjSubIDArr.push(uObjSubID);
                    hiddenArr.push(uObjSubID);
                    $.ajax({
                        url: "/modelmanagement/qualitymass/attributeArr",
                        type: "post",
                        data: {
                            uObjSubIDArr:uObjSubIDArr
                        },
                        dataType: "json",
                        success: function (res) {
                            var modelId = res.data.model_id;
                            var attribute = res.data.attribute;
                            for(var i = 0;i<modelId.length;i++){
                                modelIdArr.push(modelId[i]);
                                RealBimOcx.BatchAddSubClrInfoBegin();
                                RealBimOcx.AddSubClrPercent(modelId[i],modelTrans,modelColor);    //第二个参数为透明度
                                RealBimOcx.BatchAddSubClrInfoEnd();
                            }
                            $('#modelIdArr').val(modelIdArr);
                        }
                    });
                }
                //获取选定模型组
                function getModelInfo() {

                }
            </script>
            <!-- 点击模型操作按钮 -->
            <script for="RealBimOcx" event="UIClicked(eType,uButtonMode)" language='javascript'>
                RealBimOcx.DelAttrMask('AttrMask');
                var opacityModelTrans;
                $.ajax({
                    url: "/modelmanagement/qualitymass/configureInfo",
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        opacityModelTrans = res.configureInfo.panorama.transparent_effect;
                    }
                });
                if(isSelect){
                    var modelIdArr = $('#modelIdArr').val();
                    var newModelIdArr = modelIdArr.split(',');
                }else{
                    return false;
                }
                switch (eType) {
                    case "DO_ISOLATE":      //显示隔离
                        RealBimOcx.SetIsolateSubElemIDBegin();
                        $.each(newModelIdArr, function (i, item) {
                            RealBimOcx.SetIsolateSubElemID(item)
                        });
                        RealBimOcx.SetIsolateSubElemIDEnd();
                        break;

                    case "CANCEL_ISOLATE":  //取消隔离
                        RealBimOcx.SetIsolateSubElemIDBegin();
                        RealBimOcx.SetIsolateSubElemIDEnd();
                        newModelIdArr = [];
                        uObjSubIDArr = [];
                        isSelect = false;
                        break;

                    case "DO_HIDE":         //显示隐藏
                        uObjSubIDArr = [];
                        RealBimOcx.SetHugeObjSubValidStateBegin();
                        $.each(newModelIdArr, function (i, item) {
                            RealBimOcx.SetHugeObjSubValidStateInfo(item, 0);
                        });
                        RealBimOcx.SetHugeObjSubValidStateEnd();
                        break;

                    case "CANCEL_HIDE":     //取消隐藏
                        RealBimOcx.SetAllHugeObjSubValidState(1);
                        RealBimOcx.SetAllSubClrInfos(255,255,0xff);
                        newModelIdArr = [];
                        hiddenArr = [];
                        isSelect = false;
                        break;

                        case "DO_TRANS":    //显示透明
                        uObjSubIDArr = [];
                        RealBimOcx.BatchAddSubClrInfoBegin();
                        $.each(newModelIdArr, function (i, item) {
                            RealBimOcx.AddSubClrPercent(item,opacityModelTrans,0x64);
                        });
                        RealBimOcx.BatchAddSubClrInfoEnd();
                        break;
                    case "CANCEL_TRANS":    //取消透明
                        RealBimOcx.SetAllSubClrInfos(0,0,0xff); //颜色重置为空
                        newModelIdArr = [];
                        isSelect = false;
                }

            </script>
        </div>
    </div>
</div>
{include file="../app/public/common_footer.html"}
<!-- 自定义 -->
<script type="text/javascript">
    uObjSubIdSingle = new Number();      //已选非隐藏单个模型ID
    uObjSubIDArr = [];      //已选非隐藏模型ID数组
    hiddenArr = [];         //已选隐藏模型ID
    modelIdArr = [];        //模型ID数组
    isSelect = true;
    isCtrlDown = false;
    modelColor='';
    modelTrans='';
    //键盘事件
    $(document).keydown(function (event) {
        var KeyCode = (navigator.appname=="Netscape")?event.which:window.event.keyCode;
        if(KeyCode==17){
            isCtrlDown = true;
            RealBimOcx.DelAttrMask('AttrMask');
        }
    });
    $(document).keyup(function (event) {
        var KeyCode = (navigator.appname=="Netscape")?event.which:window.event.keyCode;
        if(KeyCode==17){
            isCtrlDown = false;
        }
    });
    //ESC事件
    $(document).keyup(function (event) {
        var KeyCode = (navigator.appname=="Netscape")?event.which:window.event.keyCode;
        if ( KeyCode == 27 ){
            RealBimOcx.DelAttrMask('AttrMask');
            RealBimOcx.SetAllHugeObjSubValidState(1);
            RealBimOcx.SetAllSubClrInfos(0,0,0xff); //颜色重置为空
            uObjSubIDArr.length=0;
        }
    });

</script>
</body>
</html>