{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__PUBLIC__/ztree/css/ztreequality/css/engineering.css">
<style type="text/css">
    #division .ztree,#unitWork .ztree{
        height: 97.9%;
        padding-bottom: 5px;
    }
    #division #ztree,#unitWork #ztreeUnit{
        margin-top: 0px;
    }
    .dataTables_wrapper{
        display: block;
    }
    /*这个是控制tab高度*/
    .tabs {
        height: 40px!important;
    }
    .tabs-title {
        font-size: 14px;
    }
    .tabs li a.tabs-inner {
        background: white;
        border-color: #cecece;
        height: 39px!important;
        line-height: 39px!important;
    }
    /*这个是有两条线*/
    .tabs li {
        margin: 0 4px -5px 0;
    }
    #unitWorkRightBottom .mybtn i.fa:before,#unitWorkRightBottom .bitCodes i.fa:before,#unitWorkRightBottom .mybtnAdd i.fa:before,#unitWorkRightBottom .saveCheck i.fa:before{
        /*background: #00c0ef;*/
        color: #ffffff;
    }
    #unitWorkRightBottom .mybtn,#unitWorkRightBottom .bitCodes,#unitWorkRightBottom .mybtnAdd{
        position: absolute;
        right: 0;
        top: 0;
        color: #FFFFFF;
        width: 70px;
        text-align: center;
        border-radius: 3px;
        height: 32px;
        line-height: 32px;
        margin-top: 2px;
        background-color: #1E9FFF;
        cursor: pointer;
    }
    #unitWorkRightBottom .bitCodes{
        right: 0%;
    }
    #unitWorkRightBottom .mybtn,#unitWorkRightBottom .bitCodes,#unitWorkRightBottom .mybtnAdd{
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 0.4%;
        font-size: 14px;
    }
    .select-color {
        background-color: #FDD5B5 !important;
    }
    #tableContent .dataTables_wrapper .dataTables_scroll {
        position: relative;
        /*top: 15px;*/
        /*border-top: 1px dotted #cecece;*/
    }
    #tableContent #tableItem .even ,#implementationParent .even ,#imageDataParent .even ,#onlineFillParent .even {
        background-color: #ffffff;
    }
    #tableContent #tableItem .odd ,#implementationParent .odd ,#imageDataParent .odd ,#onlineFillParent .odd  {
        background-color: #ececec;
    }
    #tableContent .imgList {
        border-bottom: 1px dotted;
        padding: 5px 3px;
    }
    #tableContent .imgList img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin: 5px 10px;
    }
    #tableContent .imgList a{
        cursor: pointer;
        font-style: inherit;
        color: #00c0ef;
        color: gray;
        font-size: 13px;
    }
    #tableContent .imgList a span{
        font-size: 16px;
    }
    /*#tableContent .imgList a:hover{*/
        /*color: #00c0ef;*/
    /*}*/
    #tableContent .listName{
        padding:  .5% 0;
        border-bottom: 1px dotted;
    }
    #tableContent .listName h3{
        font-weight: 800;
    }
    .layui-layer-content {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom:15px;
        padding-top: 0px;
    }
    .tabs-header, .tabs-tool {
        background-color: white;
        border-color:white;
    }
    .tabs li a.tabs-inner{
        background:white;
        border-color:#cecece;
    }
    .tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner{
        border-color:#cecece;
    }
    #tableContent #nameCon{
        padding-left: .5%;
    }

    #tableContent .saveCheck{
        float: right;
        width: 5%;
        height: 32px;
        margin-right: .5%;
        margin-top: -.7%;
        text-align: center;
        border: none;
        background: #00c0ef;
        border-radius: 3px;
        color: #FFFFFF;
    }
    #tableContent .listName span{
        font-weight: 800;
    }
    .dis{
        background: #FFFFFF !important;
    }
    .imgList,.mybtn,.mybtn1,.bitCodes{
        display: none;
    }
    #tableContent .dataTables_scroll,#unitWorkRightBottom .dataTables_scroll{
        height: 100%;
    }
    #tableContent .dataTables_scrollBody{
        max-height: none!important;
        width: 100%;
        height: calc(100% - 86px)!important;
        border-bottom: none!important;
    }
    #unitWorkRightBottom .dataTables_scrollBody{
        max-height: none!important;
        width: 100%;
        height: calc(100% - 39px)!important;
        border-bottom: none!important;
    }
    .dataTables_scrollHeadInner,#tableItem_wrapper table,#imageData_wrapper table, #implementation_wrapper table, #onlineFill_wrapper table{
        width: 100% !important;
    }
    #imageData_wrapper, #implementation_wrapper, #onlineFill_wrapper{
        height: 100% !important;
    }
    #onlineFillParent table.dataTable thead .sorting_asc {
        background-image: none !important;
    }
    #tableContent .result{
        margin-top: 13px;
        text-align: center;
    }
    #tableContent .result .layui-select-title,#tableContent #date{
        width: 220px;
    }
    #tableContent .result .layui-form-label{
        font-weight: bolder;
    }
    .eleHide{
        display: inline;
    }
    .webuploader-pick {
        width: 70px;
        padding: 0px 0px;
        border-radius: 3px;
        top: -32px;
        background: #1E9FFF;
    }
    /*改扫描件回传这个样式，一定要改这个大小，不然没有功能*/
    /*#file_upload_standards >div:nth-of-type(2){*/
        /*position: absolute !important;*/
        /*top: -32px !important;*/
        /*left: 0px;*/
        /*width: 70px !important;*/
        /*height: 32px !important;*/
        /*overflow: hidden !important;*/
        /*z-index: 6666;*/
    /*}*/
    .disabledColor{
        background-color: #FFFFFF !important
    }
    .faStyle{
        margin-left: 5px;
    }


    #unitWorkRightBottom .mybtn{
        top: -32px;
        background: none;
    }

    /*!*加滚动条 表头和表格对齐*!*/
    .dataTables_scrollHead{
        position: absolute!important;
        top: 0;
        height: 38px;
        z-index: 555;
    }
    .dataTables_scrollBody{
        position: absolute!important;
        top:38px;
        overflow: visible!important;
    }
    .dataTables_scroll{
        overflow: auto;
        position: relative;
    }
    /*!*加滚动条 表头和表格对齐 end*!*/
</style>
<!--右边的工程划分-->
<div id="division" data-options="region:'west',title:'工程划分',split:true" style="width:240px;">
    <ul class="ztree" id="ztree"></ul>
</div>
<!--左边的单元工-->
<div id="unitWork" data-options="region:'center'" style="background:#fff;">
    <div class="easyui-layout" data-options="fit:true">
        <div id="unitWorkOut" data-options="region:'west',title:'单元工程划分段号',split:true" style="width:210px;">
            <ul class="ztree" id="ztreeUnit"></ul>
        </div>
        <div id="unitWorkRight" data-options="region:'center'" style="background:#fff;">
            <div class="easyui-layout" data-options="fit:true">
                <div id="tableContent" data-options="region:'north',split:true" style="width:100%;height: 70%; position: relative;">
                    <div class="result">
                        <form class="layui-form" action="">
                            <div class="layui-inline" style="margin-left: -3%">
                                <label class="layui-form-label">验评结果</label>
                                <div class="layui-input-inline">
                                    <select id="seleResult" name="type" lay-filter="type" disabled ='disabled'>
                                        <option value="">-请选择-</option>
                                        <option value="0">未验评</option>
                                        <option value="2">合格</option>
                                        <option value="3">优良</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" style="margin-left: 2%">
                                <label class="layui-form-label">验评日期</label>
                                <div class="layui-input-block">
                                    <input type="text" name="date" id="date" lay-verify="date" disabled="disabled"  placeholder="-请选择-" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="listName" id="nameCon"><h3><i class='fa fa-dot-circle-o'></i> 控制点</h3></div>
                    <div class="imgList" style="padding-left: 15px;">
                        <span id="imgListLeft">
                            <a id="homeWork" class="imgListStyle" href="javascript:;"><img src="__WEBSITE__/elementimg/task.png" alt="工作"><span style="vertical-align: middle;margin-left: -10px;">&nbsp; 作业</span></a>
                        </span>
                        <span id="imgListRight">

                        </span>
                    </div>
                    <table id="tableItem" class="table cell-border" cellspacing="0"  width="100%">
                        <thead>
                            <tr>
                                <th>控制点编号</th>
                                <th>控制点名称</th>
                                <th>状态</th>
                                <th>操作</th>
                                <th style="display: none">参考流程</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="tbcontainer">
                        <div class="mark"></div>
                    </div>
                </div>
                <div id="unitWorkRightBottom" data-options="region:'center',split:true">
                    <div id="unitTab" class="easyui-tabs" style="width:100%;height: 100%;">
                        <div id="onlineFillParent" title="在线填报" style="padding:0px 3px 0 3px;">
                            <table id="onlineFill" class="table cell-border" cellspacing="0"  width="100%">
                                <thead>
                                <tr style="text-align: center;border-bottom:2px solid #111;border-top: 1px solid #cecece;">
                                    <th style="padding:10px 18px;font-weight: bold;">填报人</th>
                                    <th style="padding:10px 18px;font-weight: bold;">填报日期</th>
                                    <th style="padding:10px 18px;font-weight: bold;">当前审批人</th>
                                    <th style="padding:10px 18px;font-weight: bold;">审批状态</th>
                                    <th style="padding:10px 18px;font-weight: bold;">操作</th>
                                    <th style="display: none;">当前审批人Id</th>
                                    <th style="display: none;">当前审批人CurrentStep</th>
                                    <th style="display: none;">起草人Id</th>
                                </tr>
                                <tr id="removeCon" style="text-align: center">
                                    <td colspan="5" style="padding:10px 18px;">没有找到记录</td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="imageDataParent" title="附件资料" style="padding:0px 3px 0 3px;">
                            <table id="imageData" class="table cell-border" cellspacing="0"  width="100%">
                                <thead>
                                <tr>
                                    <th>文件名称</th>
                                    <th>上传人</th>
                                    <th>单位</th>
                                    <th>上传时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="implementationParent" title="扫描件回传" style="padding:0px 0 0 3px;">
                            <table id="implementation" class="table cell-border" cellspacing="0"  width="100%">
                                <thead>
                                <tr>
                                    <th>文件名称</th>
                                    <th>扫描人</th>
                                    <th>单位</th>
                                    <th>上传时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="mybtn">
                        <!--<div id='test3'><i class='fa fa-upload'></i>&nbsp;上传</div>-->
                        <div id="file_per_standards" style="display: inline-block;vertical-align: middle;"></div>
                        <div id="file_upload_standards" style="display: inline-block;vertical-align: middle;"></div>
                        <div id="file_list_standards" style="display: inline-block;vertical-align: middle;"></div>
                    </div>
                    <div class="bitCodes">
                        <div id="test4">上传</div>
                    </div>
                    <div class="mybtnAdd" style="display: none">
                        <div id='addTest'>新增</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="form_container" style="display: none;"></div>
<div id="form_container_from" style="display: none;"></div>
<input type="hidden" id="userId" value='{$userId}'>
<input type="hidden" id="resVal" value="">
<input type="hidden" id="curStepVal" value="">
{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/quality/element/controll.js"></script>
</html>
