{include file="../app/public/common_header.html"}
<!--<link rel="stylesheet" href="__WEBSITE__/quality/division/index.css">-->
<link rel="stylesheet" href="__PUBLIC__/ztree/css/ztreequality/css/engineering.css">
<style>
    #unitWorkParent{
        width: 100%;
    }
    #division .ztree,#unitWork .ztree{
        height: 100%;
        padding-bottom: 5px;
    }
    #division #ztree,#unitWork #ztreeUnit{
        margin-top: 0px;
    }
    #tableContent .imgList,.listName{
        display: none;
    }
    .dataTables_wrapper, .tbcontainer {
        display: block;
    }

    #tableContent .select-color {
        background-color: #FDD5B5 !important;
    }
    /*会出现2条线*/
    /*#tableContent .dataTables_wrapper .dataTables_scroll {*/
        /*position: relative;*/
        /*top: 6px;*/
        /*border-top: 1px dotted #cecece;*/
    /*}*/
    #tableContent .even {
        background-color: #ffffff;
    }
    #tableContent .odd {
        background-color: #f9f9f9;
    }
    #tableContent .imgList {
        border-bottom: 1px dotted;
        padding: 5px 3px;
    }
    #tableContent .imgList img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin: 5px 10px;
    }
    #tableContent .imgList a{
        cursor: pointer;
        font-style: inherit;
        color: #00c0ef;
        color: gray;
        font-size: 13px;
    }
    #tableContent .imgList a span{
        font-size: 16px;
    }
    #tableContent .listName{
        padding: .5% 0;
        border-bottom: 1px dotted;
        /*有这个下面会出现空余*/
        /*margin-bottom: 5px;*/
    }
    #tableContent .listName h3{
        font-weight: 800;
    }
    .layui-layer-content {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom:15px;
        padding-top: 0px;
    }
    .select-color {
        background-color: #FDD5B5 !important;
    }
    #tableItemControl th{
        text-align: center;
        position: initial;
    }
    .dataTables_scrollBody{
        overflow-x: hidden!important;
    }
    /*工程划分表格的滚动条*/
    #unitWork .dataTables_scroll{
        height: 100% !important;
    }
    #unitWork .dataTables_scrollBody{
        max-height: none!important;
        width: 100%;
        height: calc(100% - 76px)!important;
        /*width: calc(100% - 0.7rem) !important;*/
        border-bottom: none!important;
    }
    #tableItem_wrapper{
        height: calc(100% - 55px)!important;
    }

    .tbcontainer{
        display: none;
    }
    /*下面表格的滚动条*/
    #tableContent .dataTables_scroll{
        height: 100% !important;
    }
    #tableContent .dataTables_scrollBody{
        max-height: none!important;
        width: 100%;
        /*height: calc(100% - 137px)!important;*/
        border-bottom: none!important;
    }
    /*#tableItemControl_wrapper{*/
        /*height: 100% !important;*/
    /*}*/
    table.dataTable.no-footer {
        margin-top: 0px;
    }

    #tableContent table.dataTable thead .sorting_asc {
        background-image: none !important;
    }
    .dataTables_scrollHeadInner,#tableItem_wrapper table,#imageData_wrapper table, #implementation_wrapper table, #onlineFill_wrapper table{
        width: 100% !important;
        /*width: calc(100% - 0.28rem) !important;*/
    }
    .dataTables_filter{
        padding: 5px;
    }
    /*.add {*/
        /*margin-top: 5px;*/
        /*margin-right: 5px;*/
        /*width: 58px;*/
        /*height: 26px;*/
        /*line-height: 26px;*/
    /*}*/
    /*上面是之前的样式*/
    .add {
        margin-top: 11px;
        margin-right: 10px;
        width: 70px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
    }
    .layui-layer-page .layui-layer-btn {
        margin-top: -20px;
    }
    #maBasesItem_wrapper .dataTables_scrollHead{
        width: 100% !important;
    }
    .selectmaBases{
        background: #FDD5B5;
    }

    /*上面的没有对齐*/
    div.icon {
        margin-left: -44px;
    }
    div.icon i.fa-navicon::before {
        padding: 11px;
    }
    i.fa-navicon:before {
        color: #FFF;
        padding: 12px;
        background: #00a0e9;
    }
    /*控制label的宽*/
    .layui-form-label {
        width: 98px;
    }
    /*按钮对齐*/
    .alignment{
        padding-right: 76px !important;
    }
    /*最上面的间距*/
    .layui-form-item {
        margin-top: 15px;
    }

    /*!*加滚动条 表头和表格对齐*!*/
    #unitWork .dataTables_scrollHead,#tableContent .dataTables_scrollHead{
        position: absolute!important;
        top: 0;
        height: 38px;
        z-index: 555;
    }
    #unitWork .dataTables_scrollBody,#tableContent .dataTables_scrollBody{
        position: absolute!important;
        top:38px;
        overflow: visible!important;
    }
    #unitWork .dataTables_scroll,#tableContent .dataTables_scroll{
        overflow: auto;
        position: relative;
    }

    /*#tableItemControl{*/
        /*table-layout: fixed;*/
    /*}*/
</style>

<div id="division" data-options="region:'west',title:'工程划分',split:true" style="width:240px;">
    <!--<i title="展开所有" class="fa fa-lg fa-plus-square" id="openNode"></i>-->
    <ul class="ztree" id="ztree"></ul>
</div>
<div id="unitWorkParent" data-options="region:'center'" style="background:#fff;">
    <div class="easyui-layout" data-options="fit:true">
        <div id="unitWork" data-options="region:'north',title:'单元工程段号(单元划分)',split:true" style="height: 55%;background:#fff;">
            <table id="tableItem" class="table cell-border" cellspacing="0"  width="100%">
                <thead>
                <tr>
                    <th>单元工程流水号</th>
                    <th>单元工程部位</th>
                    <th>系统编码</th>
                    <th>关键部位</th>
                    <th>起止桩号</th>
                    <th>高程（起）</th>
                    <th>高程（止）</th>
                    <th>开工日期</th>
                    <th>完工日期</th>
                    <th>操作</th>
                    <th>en_type</th>
                </tr>
                </thead>
            </table>
        </div>
        <div id="tableContent" data-options="region:'center',title:'<i class=\'fa fa-dot-circle-o\'></i> 控制点',split:true" style="width:1255px; position: relative;padding-top:0px;">
            <div class="imgList">
                <span id="imgListLeft">
                    <a id="homeWork" class="imgListStyle" href="javascript:;"><img src="__WEBSITE__/elementimg/task.png" alt="工作">&nbsp;<span style="vertical-align: middle">作业</span></a>
                </span>
                <span class="imgListStyle" id="imgListRight">
                </span>
            </div>
            <div class="listName" style="padding-left: .5%"><h3>已选择控制标准列表</h3></div>
            <table id="tableItemControl" class="table cell-border" cellspacing="0"  width="100%">
                <thead>
                <tr>
                    <th>
                        <label for="all_checked_plan" onselectstart="return false;" style="-moz-user-select:none;"></label>
                        <input type='checkbox' name='all_checked_plan' id="all_checked_plan" value=''>
                    </th>
                    <th>控制点编号</th>
                    <th>控制点名称</th>
                    <th>操作</th>
                    <th style="display: none">division_id</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="form_container" style="display: none;"></div>
<!-- 新增单元信息 -->
<form action="" class="layui-form unit" id="unit" style="display: none;text-align: center;">
    <input type="hidden" name="type_ztree">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">单元工程流水号</label>
            <div class="layui-input-inline" style="width: 333px;">
                <input type="text" name="serial_number_before" placeholder="编码" autocomplete="off" class="layui-input" readonly>
            </div>
            <div class="layui-input-inline">
                <input type="text" name="serial_number" placeholder="流水号" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">单元工程部位</label>
            <div class="layui-input-inline">
                <input type="text" name="site" placeholder="请输入单元工程部位" lay-verify="required" autocomplete="off"lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">系统编码</label>
            <div class="layui-input-inline">
                <input type="text" name="coding" placeholder="系统编码" lay-verify="required" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">施工依据</label>
            <div class="layui-input-inline">
                <input type="text" name="ma_bases_name" placeholder="请选择施工依据" lay-verify="required" autocomplete="off" class="layui-input maBasesBtn" readonly>
                <input type="hidden" name="ma_bases" placeholder="请选择施工依据" lay-verify="required" autocomplete="off" class="layui-input maBasesBtn" readonly>
            </div>
            <div class="layui-form-mid layui-word-aux icon maBasesBtn" style="padding-top: 9px !important;padding-right: 10px !important;">
                <i class="fa fa-navicon"></i>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">补充依据</label>
            <div class="layui-input-inline">
                <input type="text" name="su_basis" placeholder="请输入补充依据" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">关键部位</label>
            <div class="layui-input-inline">
                <select name="hinge" lay-verify="required">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">工程类型</label>
            <div class="layui-input-inline">
                <input type="text" name="en_type" placeholder="请选择工程类型" lay-verify="required" autocomplete="off" class="layui-input typeZtreeBtn" readonly>
            </div>
            <div class="layui-form-mid layui-word-aux icon typeZtreeBtn" style="padding-top: 9px !important;padding-right: 10px !important;">
                <i class="fa fa-navicon"></i>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">高程(起)</label>
            <div class="layui-form-mid layui-word-aux no-position">
                <span class="el-start">EL.</span>
            </div>
            <div class="layui-input-inline" style="width: 162px;">
                <input type="text" name="el_start" placeholder="请输入高程（起）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">高程(止)</label>
            <div class="layui-form-mid layui-word-aux no-position">
                <span class="el-cease">EL.</span>
            </div>
            <div class="layui-input-inline" style="width: 162px;">
                <input type="text" name="el_cease" placeholder="请输入高程（止）" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工程量</label>
            <div class="layui-input-inline">
                <input type="text" name="quantities" placeholder="请输入工程量" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">起止桩号</label>
            <div class="layui-input-inline">
                <input type="text" name="pile_number" placeholder="请输入起止桩号" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开工日期</label>
            <div class="layui-input-inline">
                <input type="text" name="start_date" placeholder="请选择开工日期" autocomplete="off" class="layui-input" id="start_date">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">完工日期</label>
            <div class="layui-input-inline">
                <input type="text" name="completion_date" placeholder="请选择完工日期" autocomplete="off" class="layui-input" id="completion_date">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block alignment">
            <button class="layui-btn" lay-submit lay-filter="save" id="saveUnit">保存</button>
            <button type="button" class="layui-btn layui-btn-primary close">关闭</button>
        </div>
    </div>
</form>
<div id="ztreeLayer" style="display: none">
    <ul class="ztree" id="typeZtree"></ul>
</div>
<!-- 添加施工依据 -->
<div id="maBasesLayer" class="ma-bases-layer" style="display: none">
    <table id="maBasesItem" class="table cell-border" cellspacing="0"  width="100%">
        <thead>
        <tr>
            <th>
                <label for="all_checked" onselectstart="return false;" style="-moz-user-select:none;">全选</label>
                <input type='checkbox' name='all_checked' id="all_checked" class='icheckbox_minimal' value=''>
            </th>
            <th>图号</th>
            <th>图名</th>
            <th>图纸张数</th>
            <th>折合A1图纸</th>
            <th>设计</th>
            <th>校核</th>
            <th>审查</th>
            <th>完成日期</th>
            <th>标段</th>
            <th>图纸类别</th>
        </tr>
        </thead>
    </table>
</div>

{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/quality/element/plan.js"></script>
</body>
</html>