{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__WEBSITE__/modelmanagement/manage/manage.css">
<input type="hidden" id="modelIdArr">
<input type="hidden" id="id">
<input type="hidden" id="procedureid">
<input type="hidden" id="unit_id">
<div data-options="region:'west',title:'工程划分',split:true,collapsed:false" style="width:260px;">
    <div class="layui-form">
        <select name="section" id="section" lay-filter="section"></select>
    </div>
    <ul id="ztree" class="ztree eye"></ul>
</div>
<div data-options="region:'center',title:''" style="border: 0">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north'" class="north" style="height:39px">
            <ul class="layer-review">
                <li>
                    <span>优良</span>
                    <i id="excellent"></i>
                </li>
                <li>
                    <span>合格</span>
                    <i id="qualified"></i>
                </li>
                <li>
                    <span>不合格</span>
                    <i id="unQualified"></i>
                </li>
                <li>
                    <span>未验评</span>
                    <i id="unReview"></i>
                </li>
            </ul>
            <ul class="layer-model-nav">
                <li>优良：<a id="excellent_number"></a>个（<a id="excellent_rate"></a>）</li>
                <li>合格：<a id="qualified_number"></a>个（<a id="qualified_rate"></a>）</li>
                <li>不合格：<a id="unchecked_number"></a>个（<a id="unchecked_rate"></a>）</li>
            </ul>
        </div>
        <div data-options="region:'center'" class="layer-center">
            <object id="RealBimOcx" classid="CLSID:2CD7E1BE-10B8-4A1C-B908-4FB7D4FD4ABD" width="100%"
                    height="100%"></object>
            <!-- 初始化 -->
            <script language="javascript" for="RealBimOcx" EVENT="OnRealBimOcxInited()" type="text/javascript">
                var modelPath = "http://192.168.1.2:8008/default.aspx?dir=url_res02&path=";
                $.ajax({
                    url: "/modelmanagement/qualitymass/resourcePagName",
                    type: "post",
                    dataType: "json",
                    data: {
                        model_type: 2
                    },
                    success: function (res) {
                        //模型名称
                        var modelName = res.pag_name;
                        RealBimOcx.SwitchBIMSceneSimple(modelPath, modelName);
                    }
                });
                RealBimOcx.SetSceVersionInfoExt(100, -1, 0, 2000000000);
                RealBimOcx.CreateAGolFont("CustomFont01", "微软雅黑", true, true, 14, 14, 32, 1.0, 0 * 64, "");
                RealBimOcx.CreateAGolFont("CustomFont02", "微软雅黑", true, true, 12, 12, 8, 1.0, 0 * 64, "");
            </script>
            <!-- 初始化完成 -->
            <script language="javascript" for="RealBimOcx" EVENT="WorkCompleteNotification(CompleteEvent,retError)"
                    type="text/javascript">
                if (CompleteEvent == "LoadMainScene" && retError == 0) {
                    RealBimOcx.SetAllHugeObjSubValidState(1);
                    RealBimOcx.SetSceHugeObjVisible(true);
                }
                RealBimOcx.SetSuitableCam();

                $.ajax({
                    url: "/modelmanagement/qualitymass/sectionModel",
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        allModel();
                    }
                });

                //全部模型
                allModel = function () {
                    RealBimOcx.SetAllHugeObjSubValidState(1);
                    review();
                }

                //根据所选标段展示对应模型
                selectedSectionShowModel = function (res) {
                    var data = res.data;
                    var newData = data.excellent.concat(data.qualified,data.unqualified);
                    //隐藏掉所有模型
                    RealBimOcx.SetAllHugeObjSubValidState(0);
                    //根据所选标段拿到对应的模型数据
                    RealBimOcx.SetHugeObjSubValidStateBegin();
                    for (var i = 0; i < newData.length; i++) {
                        RealBimOcx.SetHugeObjSubValidStateInfo(i, 1);      //显示模型
                    }
                    RealBimOcx.SetHugeObjSubValidStateEnd();
                    review();
                }
                //模块验评情况
                review = function () {
                    $.ajax({
                        url: "/modelmanagement/Qualitymass/sectionModel",
                        type: "post",
                        dataType: "json",
                        success: function (res) {
                            var data = res.data;
                            //透明掉全部
                            RealBimOcx.SetAllSubClrInfos(20, 255, 0xff529df8);
                            //优良 excellent
                            RealBimOcx.BatchAddSubClrInfoBegin();
                            for (var i = 0; i < data.excellent.length; i++) {
                                var exUObjSubID = data.excellent[i];
                                RealBimOcx.AddSubClrPercent(exUObjSubID, 1, choiceness_pigment);    //第二个参数为透明度
                            }
                            //合格 qualified
                            for (var j = 0; j < data.qualified.length; j++) {
                                var quUObjSubID = data.qualified[j];
                                RealBimOcx.AddSubClrPercent(quUObjSubID, 1, qualified_pigment);    //第二个参数为透明度
                            }
                            // 不合格 unqualified
                            for (var l = 0; l < data.unqualified.length; l++) {
                                var unQuUObjSubID = data.unqualified[l];
                                RealBimOcx.AddSubClrPercent(unQuUObjSubID, 1, un_evaluation_pigment);    //第二个参数为透明度
                            }
                            RealBimOcx.BatchAddSubClrInfoEnd();
                        }
                    });
                }
            </script>
            <!-- 点击模型事件 -->
            <script language="javascript" for="RealBimOcx"
                    EVENT="OnCurSelModelChanged(strObjName, uObjSubID,   fObjSelX, fObjSelY, fObjSelZ,  fObjBVMinX,fObjBVMinY,fObjBVMinZ,  fObjBVMaxX,fObjBVMaxY,fObjBVMaxZ)"
                    type="text/javascript">
                uObjSubIdSingle = uObjSubID;        //模型ID
                //显示单元信息
                $('#tabs').show();
                //验收资料
                $.ajax({
                    url: "/modelmanagement/Manage/getAcceptance",
                    type: "post",
                    data: {
                        model_id: uObjSubID
                    },
                    dataType: "json",
                    success: function (res) {
                        $('#acceptanceData').empty();
                        var data = res.processinfo;
                        var acceptanceDataTemp = [];
                        var count = 0;
                        for (var i = 0; i < data.length; i++) {
                            acceptanceDataTemp.push('<div class="layui-colla-item">');
                            acceptanceDataTemp.push('<h2 class="layui-colla-title layui-work-title workTitle">工序' + (count++) + '：' + data[i].name + '</h2>');
                            for (var j = 0; j < data[i].controlpoint_info.length; j++) {
                                var controlData = data[i].controlpoint_info[j];
                                acceptanceDataTemp.push('<div class="layui-colla-content layui-work-content">');
                                acceptanceDataTemp.push('<div class="layui-collapse layui-control-data" id="controlData" lay-filter="control" lay-accordion>');
                                acceptanceDataTemp.push('<h2 class="layui-colla-title layui-control-title controlTitle" unit_id=' + data[i].unit_id + ' id=' + controlData.id + ' procedureid=' + controlData.procedureid + '>' + controlData.name + '</h2>');
                                acceptanceDataTemp.push('<div class="layui-colla-content layui-control-content">');
                                acceptanceDataTemp.push('<div class="layui-table-title tableTitle"></div>');
                                acceptanceDataTemp.push('<table class="layui-table" uid=' + controlData.id + ' id="online' + controlData.id + '">');
                                acceptanceDataTemp.push('<tbody>');
                                acceptanceDataTemp.push('</tbody>');
                                acceptanceDataTemp.push('</table>');
                                acceptanceDataTemp.push('</div>');
                                acceptanceDataTemp.push('</div>');
                                acceptanceDataTemp.push('</div>');
                            }
                            acceptanceDataTemp.push('</div>');
                        }
                        $('#acceptanceData').append(acceptanceDataTemp.join(''));
                        layui.use('element', function () {
                            var element = layui.element;
                            element.render('collapse');
                        });
                        $('.layui-colla-item:first-child').find('h2.workTitle').click();
                    }
                });
                //模板信息
                modelInfo(uObjSubID);

                //根据选中模型--获取所有关联模型编号和对应树节点id
                $.ajax({
                    url: "/modelmanagement/Qualitymass/nodeModelNumber",
                    type: "post",
                    data: {
                        number: uObjSubID,
                        number_type:2
                    },
                    dataType: "json",
                    success: function (res) {
                        selectedModeGroupIds = res.data.model_id;
                        nodeId = res.data.unit_id;
                        getOne();   //回显自定义属性
                        if (res.data == '' || res.data.unit_id == '' || res.data.model_id == '') {
                            return false;
                        }
                        var model_id = res.data.model_id;
                        var treeObj = $.fn.zTree.getZTreeObj("ztree");
                        var nodes = treeObj.getNodesByParam("add_id", res.data.unit_id);
                        //选中对应树节点
                        treeObj.selectNode(nodes[0]);
                        //选中模板所在组添加颜色
                        RealBimOcx.BatchAddSubClrInfoBegin();
                        for (var i = 0; i < model_id.length; i++) {
                            RealBimOcx.AddSubClrPercent(model_id[i], 1, modelColor);
                        }
                        RealBimOcx.BatchAddSubClrInfoEnd();
                        return false;
                    }
                });
            </script>
            <!-- 点击模型操作按钮 -->
            <script for="RealBimOcx" event="UIClicked(eType,uButtonMode)" language='javascript'>
                switch (eType) {
                    case "DO_HIDE":         //显示隐藏
                        RealBimOcx.SetHugeObjSubValidStateBegin();
                        $.each(selectedModeGroupIds, function (i, item) {
                            RealBimOcx.SetHugeObjSubValidStateInfo(item, 0);
                        });
                        RealBimOcx.SetHugeObjSubValidStateEnd();
                        break;
                    case "CANCEL_HIDE":     //取消隐藏
                        RealBimOcx.SetHugeObjSubValidStateBegin();
                        $.each(selectedModeGroupIds, function (i, item) {
                            RealBimOcx.SetHugeObjSubValidStateInfo(item, 1);
                        });
                        RealBimOcx.SetHugeObjSubValidStateEnd();
                }
            </script>
        </div>
    </div>
</div>
<div data-options="region:'east',title:'管理信息',split:true" style="width:350px;" class="manage-info">
    <div id="tabs" class="easyui-tabs" style="width:100%;">
        <div title="属性" style="padding:10px;">
            <div class="layui-collapse" id="layuiCollapse" lay-accordion>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">单元工程信息</h2><!--infoTitle-->
                    <div class="layui-colla-content layui-show">
                        <table class="layui-table" lay-skin="line" lay-size="sm">
                            <tbody>
                            <tr>
                                <td>检验批名称</td>
                                <td id="site"></td>
                            </tr>
                            <tr>
                                <td>检验批编码</td>
                                <td id="serial_number"></td>
                            </tr>
                            <tr>
                                <td>关键部位</td>
                                <td id="hinge"></td>
                            </tr>
                            <tr>
                                <td>工程量</td>
                                <td id="quantities"></td>
                            </tr>
                            <tr>
                                <td>工程类型</td>
                                <td id="en_type"></td>
                            </tr>
                            <tr>
                                <td>施工依据</td>
                                <td id="ma_bases"></td>
                            </tr>
                            <tr>
                                <td>补充依据</td>
                                <td id="su_basis"></td>
                            </tr>
                            <tr>
                                <td>高程（起）</td>
                                <td id="el_start"></td>
                            </tr>
                            <tr>
                                <td>高程（止）</td>
                                <td id="el_cease"></td>
                            </tr>
                            <tr>
                                <td>桩号（起止）</td>
                                <td id="pile_number"></td>
                            </tr>
                            <tr>
                                <td>开始日期</td>
                                <td id="start_date"></td>
                            </tr>
                            <tr>
                                <td>结束日期</td>
                                <td id="completion_date"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">自定义属性</h2>
                    <div class="layui-colla-content custom-attr">
                        <form action="" class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-form-item attr-group" id="attrGroup"></div>
                                <div href="javascript:;" class="layui-form-mid layui-word-aux" id="addAttr">
                                    <span class="layui-btn"><i class="fa fa-plus">新增</i></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div title="验收资料" style="overflow:auto;padding:10px;display:none;">
            <div class="layui-collapse layui-acceptance-data" id="acceptanceData" lay-filter="collapse" lay-accordion></div>
        </div>
    </div>
</div>
<div id="form_container"></div>
<div id="form_container_from"></div>
{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/modelmanagement/manage/manage.js"></script>
<script type="text/javascript">
    //选中模型
    window.operateModel = function (data) {
        var newData = [];
        var dataStr = data.qualified + data.unqualified + data.excellent;
        newData.push(dataStr);
        if (newData != '') {
            RealBimOcx.SetGroupInLogCamPos(newData[0]); //镜头
            RealBimOcx.BatchAddSubClrInfoBegin();
            for (var i = 0; i < newData[0].length; i++) {
                RealBimOcx.AddSubClrPercent(i, 1, modelColor); //上颜色
            }
            RealBimOcx.BatchAddSubClrInfoEnd();
        }
    }

    //隐藏模型
    window.hideModel = function (data) {
        console.log(data);
        console.log('隐藏');
        var newData = [];
        var dataStr = data.qualified + data.unqualified + data.excellent;
        newData.push(dataStr);
        if (newData != '') {
            RealBimOcx.SetHugeObjSubValidStateBegin();
            for (var i = 0; i < newData[0].length; i++) {
                RealBimOcx.SetHugeObjSubValidStateInfo(i, 0);  // 0为隐藏  1为显示 模型
            }
            RealBimOcx.SetHugeObjSubValidStateEnd();
        }
    }
    //显示模型
    window.showModel = function (data) {
        console.log(data);
        console.log('显示');
        var newData = [];
        var dataStr = data.qualified + data.unqualified + data.excellent;
        newData.push(dataStr);
        if (newData != '') {
            RealBimOcx.SetHugeObjSubValidStateBegin();
            for (var i = 0; i < newData[0].length; i++) {
                RealBimOcx.SetHugeObjSubValidStateInfo(i, 1);      //显示模型
            }
            RealBimOcx.SetHugeObjSubValidStateEnd();
        }
        //透明掉全部
        RealBimOcx.SetAllSubClrInfos(20, 255, 0xff529df8);
        review();
    }
</script>
</body>
</html>