.ztree{
    margin-top: 0;
}
.current-path i.fa:before{
    color: #0E2D5F;
}
#tableContent .imgList,.mybtn ,.alldel{
    display: none;
}
#tableContent .mybtn i.fa:before,#tableContent .bitCodes i.fa:before,#tableContent .alldel i.fa:before{
    background: #00c0ef;
    color: #ffffff;
}
#tableContent .mybtn,#tableContent .bitCodes,#tableContent .alldel{
    float: right;
    background-color: #00c0ef;
}
#tableContent .mybtn,#tableContent .bitCodes,#tableContent .alldel{
    margin-right: 0.5%;
}
#tableContent .dataTables_wrapper .dataTables_scroll {
    position: relative;
    top: 0px;
    border-top: none;
}
#tableContent .even {
    background-color: #ffffff;
}
#tableContent .odd {
    background-color: #f9f9f9;
}
/*#tableContent .imgList {*/
    /*border-top: 1px dotted;*/
    /*border-bottom: 1px dotted;*/
    /*padding: 5px 3px;*/
/*}*/
/*#tableContent .imgList #homeWork {*/
    /*margin-right:3px;*/
/*}*/
/*#tableContent .imgList img {*/
    /*border-radius: 50%;*/
    /*margin-top: -3px;*/
    /*margin-left: 14px;*/
    /*margin-right: 5px;*/
/*}*/
/*#tableContent .imgListStyle {*/
    /*margin:0;*/
/*}*/
/*#tableContent .imgList a{*/
    /*cursor: pointer;*/
    /*font-style: inherit;*/
    /*color: #333333;*/
    /*font-size: 16px;*/
/*}*/
#tableContent .imgList a:hover{
    color: #2213e9;
}
#tableContent .listName{
    padding: .5% 0;
    border-bottom: 1px dotted;
    margin-bottom: 5px;
}
#tableContent .listName h3{
    font-weight: 800;
}
.tabs-header, .tabs-tool {
    background-color: white;
    border-color:white;
}
.tabs-title{
    font-size: 14px;
    font-weight: normal;
    color: #000;
}
.tabs{
    height: 40px!important;
}
.tabs li a.tabs-inner{
    background:white;
    border-color:#cecece;
    height: 39px!important;
    line-height: 39px!important;
}
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner{
    border-color:#cecece;
}
.select-color{
    background-color: #FDD5B5!important;
}
#tableItem tbody tr:hover{
    background-color: #FDD5B5;
}
.uploadBox,.relationBox{
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: #0092ff;
    border-color: #0092ff;
    font-size: 16px;
    color: #FFFFFF;
    width: 70px;
    text-align: center;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
}
.relationBox{
    right: 110px;
}
.dataTables_wrapper, .tbcontainer {
    display: block;
}
.dataTables_wrapper .dataTables_filter{
    margin-bottom: 4px;
}
.imgList #imgListRight img.imgNone{
    margin: -1px 0 0 10px;
}




#tableContent .imgList {
    border-bottom: 1px dotted;
    padding: 5px 3px;
}
#tableContent .imgList #homeWork {
    /*margin-right:5px;*/
}
#tableContent .imgList img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 5px 10px;
}
#tableContent .imgList a{
    cursor: pointer;
    font-style: inherit;
    color: #00c0ef;
    color: gray;
    font-size: 13px;
}
#tableContent .imgListStyle {
    margin:5px 0px 3px 0px;
}
#tableContent .imgList a{
    font-size: 16px;
}