<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>fengning_main</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/layui/layui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <style>
        #memberAdd {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #memberAdd .layui-form-label {
            width: 100px;
            padding: 5px 15px;
        }

        #memberAdd .layui-form-item .layui-input-inline {
            width: 200px;
        }

        #memberAdd .layui-form-item {
            margin-bottom: 8px;
        }

        #memberAdd .layui-form-item .layui-input {
            width: 88%;
        }

        #memberAdd .layui-form-select .layui-edge {
            right: 66px;
        }

        #memberAdd .layui-form-select .layui-input {
            width: 75%;
        }

        #memberAdd .layui-form-select dl {
            left: 144px;
            min-width: 75%;
        }

        /*#memberAdd .layui-form-select dl dd.layui-this {*/
        /*background-color: white;*/
        /*color: #000000;*/
        /*}*/
        #memberAdd .borForm {
            border: 1px solid #0d77b6;
            position: relative;
            margin: 0px 15px 10px 15px;
            padding-top: 9px;
        }

        #memberAdd .borForm .bgSpan {
            position: absolute;
            background: white;
            top: -10px;
            left: 5px;
        }

        #memberAdd .layui-form-label {
            width: 114px;
        }

        #memberAdd #contractId option {
            padding-top: 10px !important;
            margin-top: 10px !important;
            font-size: 14px !important;
            line-height: 30px !important;
        }

        #memberAdd ul li {
            border: 1px solid;
            margin: 5px;
            height: 32px;
            width: 545px;
            margin-left: 33px;
            text-align: center;
        }

        #memberAdd #opi {
            display: none;
            z-index: 7;
        }

    </style>
<body>
<div class="row">
    <div class="col-sm-12" style="background-color:#fff;">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5></h5>
            </div>
            <div class="ibox-content">
                <!--新增用户信息开始-->
                <form class="layui-form" name="memberAdd" id="memberAdd" method="post" action="#" onsubmit="return false">
                    <input type="hidden" name="id" id="addId" value="{:$id}">
                    <div class="borForm">
                        <span class="bgSpan">基础信息</span>
                        <div class="layui-form-item">
                            <label class="layui-form-label">标段编码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="code" id="code" placeholder="合同名称" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">标段简称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="shortName" id="shortName" placeholder="合同编号" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">合同金额</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="money" placeholder="合同名称" id="money" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">标段名称</label>
                            <div class="layui-input-block" class="inpLength">
                                <input type="text" name="name" id="name" lay-verify="title" autocomplete="off" placeholder="请输入标段名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属合同</label>
                            <select name="contractId" id="contractId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <!--业主现场管理机构-->
                    <div class="borForm">
                        <span class="bgSpan">管理配置</span>
                        <div class="layui-form-item">
                            <label class="layui-form-label">业主现场管理机构</label>
                            <select name="builderId" id="builderId" lay-filter="aihao">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">监理现场管理机构</label>
                            <select name="supervisorId" id="supervisorId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">设计现场管理机构</label>
                            <select name="designerId" id="designerId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">施工现场管理机构</label>
                            <select name="constructorId" id="constructorId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">其他现场管理机构</label>
                            <select name="otherId" id="otherId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="col-xs-12" style="text-align: center;">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1"><i class="fa fa-save"></i> 保存
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="layui-btn layui-btn-danger"><i class="fa fa-close"></i> 返回
                            </button>
                        </div>
                    </div>
                </form>
                <!--新增用户信息结束-->
            </div>
        </div>
    </div>
</div>
<input name="hidOrgs" type="hidden" value='{$orgs}' id="_orgs">
</body>
<script id="nameLay">
    var orgs = JSON.parse($("#_orgs").val());
    //页面元素初始化
    $(function () {
        Init();
        Initdata();
    });

    function Init() {
        // console.log(orgs)
        for (var i = 0; i < orgs.length; i++) {
            //(业主)建设单位1
            //监理单位2
            //设计单位4
            // 施工单位5
            //其他单位12
            if (orgs[i].type == 1) {
                $("#builderId").append($("<option/>").text(orgs[i].name).attr({"value": orgs[i].id}));
            } else if (orgs[i].type == 2) {
                $("#supervisorId").append($("<option/>").text(orgs[i].name).attr({"value": orgs[i].id}));
            } else if (orgs[i].type == 4) {
                $("#designerId").append($("<option/>").text(orgs[i].name).attr({"value": orgs[i].id}));
            } else if (orgs[i].type == 5) {
                $("#constructorId").append($("<option/>").text(orgs[i].name).attr({"value": orgs[i].id}));
            } else if (orgs[i].type == 12) {
                $("#otherId").append($("<option/>").text(orgs[i].name).attr({"value": orgs[i].id}));
            }
        }
        //所属合同的渲染
        $.ajax({
            type: "GET",
            url: "{:url('Contract/getAll')}",
            success: function (data) {
                $(data).each(function () {
                    $("#contractId").append($("<option/>").text(this.contractName).attr({"value": this.id}));
                });
                layui.form.render();
            }
        });
    }

    //数据初始化
    function Initdata() {
        var id = $("#addId").val();
        console.log(id);
        if (id.length>0) {
            $.ajax({
                url: "{:url('./contract/section/getOne')}?id=" + id,
                type: "post",
                data: {id: id},
                dataType: "json",
                success: function (res) {
                    $('#addId').val(res.id);
                    $('#code').val(res.code);
                    $('#shortName').val(res.shortName);
                    $('#money').val(res.money);
                    $('#name').val(res.name);
                    $('#contractId').val(res.contractId);
                    $('#constructorId').val(res.constructorId);
                    $('#designerId').val(res.designerId);
                    $('#supervisorId').val(res.supervisorId);
                    $('#builderId').val(res.builderId);
                    $('#eveluateUserId').val(res.eveluateUserId);
                    layui.form.render();
                }
            });
        }
    }

    var form;
    layui.use(['form', 'layedit', 'laydate'], function () {
        form = layui.form;
        var layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        laydate.render({
            elem: '#date2'
        });
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        function closWin() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        };

        function refreshSub() {
            parent.admin_table.ajax.url("{:url('contract/common/datatablesPre?tableName=section')}").load();
        }
        //监听提交
        form.on('submit(demo1)', function (data) {
            console.log($("#addId").val())
            console.log(data);
            if ($("#addId").val() == '') {
                console.log($("#addId").val())
                $.ajax({
                    type: "Post",
                    url: "{:url('addoredit')}",
                    data: data.field,
                    success: function (res) {
                        console.log(res)
                        if (res.code == 1) {
                            refreshSub();
                            parent.layer.msg('保存成功！');
                            closWin();
                        }
                    },
                    error: function (data) {
                        debugger;
                    }
                })
            } else if ($("#addId").val() != '') {

                $.ajax({
                    type: "Post",
                    url: "{:url('addoredit')}",
                    data: data.field,
                    success: function (res) {
                        console.log(res)
                        if (res.code == 1) {
                            refreshSub();
                            parent.layer.msg('编辑成功！');
                            closWin();
                            form.render('select');
                        }
                    },
                    error: function (data) {
                        debugger;
                    }
                })

            }
            return false;
        });
        $('button[type="reset"]').click(function () {
            closWin();
        })
    });
</script>
</html>