{include file="../../public/common_header"}
    <style type="text/css">
        body{
            background: #fff;
        }
        .layui-layer-content{
            padding: 0;
        }
        #admin_table_wrapper{
            padding-top: 20px;
        }
        .dataTables_wrapper .dataTables_filter{
            padding-bottom: 20px;
            line-height: 32px;
        }
        #secTable table {
            table-layout:fixed;
        }
        #secTable table td{
            word-break:break-all;
        }
    </style>
<!--<body class="easyui-layout" style="overflow-y:hidden;">-->
<!--表格-->
<div id="secTable" data-options="region:'center',split:true">
    <div id="mytable1_wrapper">
        <table id="admin_table" width="100%" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>标段编码</th>
                <th>标段名称</th>
                <th>合同金额（万元）</th>
                <th>业主单位</th>
                <th>施工单位</th>
                <th>设计单位</th>
                <th>监理单位</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
        <div class="tbcontainer">
            <div class="mark"></div>
        </div>
    </div>
</div>
<!--<div id="secTable" class="wrapper wrapper-content" style="width: 99.5%;vertical-align: top;padding: 0;margin-left: 4px;text-align: center">-->
    <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-content">-->
            <!--<div class="row">-->
                <!---->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--</body>-->
{include file="../../public/common_footer"}
<script type="text/javascript">
    var admin_table = $('#admin_table').DataTable({
        pagingType: "full_numbers",
        processing: true,
        serverSide: true,
        ajax: {
            url:"{:url('contract/common/datatablesPre?tableName=section')}"
        },
        dom: 'lf<"mybtn layui-btn layui-btn-normal layui-btn-sm btn-right">tip',
        columns:[
            {
                name: "code"
            },
            {
                name: "name"
            },
            {
                name: "money"
            },
            {
                name: "builder"
            },
            {
                name: "constructor"
            },
            {
                name: "designer"
            },
            {
                name: "supervisor"
            },
            {
                name: "id"
            }
        ],
        columnDefs: [
            {
                searchable: false,
                orderable: false,
                targets: [7],
                render :  function(data,type,row) {
                    var html =  "<a class='tt' style='margin-left: 5px;' onclick='secEdit(this)'><i class='fa fa-pencil' title='编辑'></i></a >" ;
                    html += "<a  class='' style='margin-left: 5px;' onclick='secDel(this)'><i class='fa fa-trash' title='删除'></i></a>" ;
                    return html;
                }
            },
        ],
        language: {
            "lengthMenu": "_MENU_ ",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "sFirst": "<<",
                "sPrevious": "<",
                "sNext": ">",
                "sLast": ">>"
            }
        },
        "fnInitComplete": function (oSettings, json) {
            $('#admin_table_length').insertBefore(".mark");
            $('#admin_table_info').insertBefore(".mark");
            $('#admin_table_paginate').insertBefore(".mark");
        }
    });
    $("div.mybtn").html('新增');
    //变色
    $('#admin_table tbody').on( 'mouseover', 'td', function () {
            $(this).parent("tr").addClass('highlight');
        }).on( 'mouseleave', 'td', function () {
            $(this).parent("tr").removeClass( 'highlight' );
    });
    //新增
    $("#admin_table_wrapper .mybtn").click(function () {
        layer.open({
            type: 2,
            title: '新增标段',
            shadeClose: true,
            area: ['780px', '600px'],
            content: '{:url("add")}',
        });
    })
    //编辑
    function secEdit(that){
        var id = admin_table.row(".highlight").data()[7];
        console.log(id);
        layer.open({
            type: 2,
            title: '编辑标段',
            shadeClose: true,
            area: ['780px', '600px'],
            content: '{:url("add")}?id='+id+'&time='+new Date()
        });
    }
    //删除
    function secDel(that){
        var id = admin_table.row(".highlight").data()[7];
        layer.confirm('是否删除该标段?', function(index){
            $.ajax({
                url: "{:url('./contract/section/del')}",
                type: "post",
                data: {id:id},
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    if(res.code == 1){
                        layer.msg("删除成功！");
                        admin_table.ajax.url("{:url('contract/common/datatablesPre?tableName=section')}").load();
                    }
                }
            });
            layer.close(index);
        });
    }
</script>
</html>