.relieve{
    padding: 5px 10px;
    border-bottom: 1px solid #cecece;
}
.node-setting{
    padding: 10px 10px 5px;
}
.node-setting label{
    padding-right: 10px;
    vertical-align: middle;
    font-size: 14px;
}
.ztree{
    margin: 0;
}
.dataTables_wrapper, .tbcontainer{
    display: block !important;
}
.table-btn{
    margin-right: 10px;
}
.icheckbox_square-green, .iradio_square-green{}
/*修改全选的样式*/
  table.dataTable thead th.sorting:first-child:after{
      content:''
  }
table.dataTable tbody tr.selected{
    background: none;
}
table td:last-child{
    display: none;
}
.node-name{
    cursor: pointer;
}