<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>进度对比</title>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/modules/layer/default/layer.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/layui/layui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <style>
        .titleCenter{
            text-align: center;
            line-height: 35px;
        }
        .layui-progress-big{
            margin-top: 15px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-fluid">

    <form class="layui-form" action="">
        <div class="layui-row" style="padding: 10px auto;margin: 20px auto;border-bottom: 1px solid #eeeeee">
            <div class="layui-col-sm2">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="0">一期地下厂房</option>
                            <option value="1">二期地下厂房</option>
                            <option value="2">地下仓库</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm2">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="0">直接对比</option>
                            <option value="1">本年</option>
                            <option value="2">本月</option>
                            <option value="3">本季度</option>
                            <option value="4">自定义</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-row">
        <div class="layui-col-sm4 layui-col-sm-offset1">
            <h5 class="titleCenter">计划进度</h5>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="一月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="12%">
                </div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="二月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="10%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="三月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="12%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="四月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="15%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="五月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="22%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="六月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="30%"></div>

            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="一月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="12%">
                </div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="二月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="10%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="三月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="12%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="四月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="15%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="五月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="22%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes"  title="六月份计划进度">
                <div class="layui-progress-bar layui-bg-blue" lay-percent="30%"></div>

            </div>

        </div>
        <div class="layui-col-sm4 layui-col-sm-offset1">
            <h5 class="titleCenter">实际进度</h5>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="一月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="12%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="二月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="15%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="三月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="12%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="四月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="16%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="五月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="25%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="六月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="40%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="一月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="12%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="二月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="15%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="三月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="12%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="四月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="16%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="五月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="25%"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" title="六月份实际进度">
                <div class="layui-progress-bar layui-bg-red" lay-percent="40%"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="../layui/layui.js"></script>
</body>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</html>