.myitem{
    background:#9ccc5e;border:solid 1px #6e845c;
    position:absolute;overflow:hidden;display:block;
    z-index:100;
}
.myitem2 {
    background:#9ccc5e;border:solid 1px #0c3f5f;
    position:absolute;overflow:hidden;
}
.percentcomplete {
    margin-top:1px;
    height:10px;overflow:hidden;background:#0d55a4;
}
.formlable .layui-form-label{
    width: 26px;
}
.layuiRight{
    float: right;
}

#addPlan .layui-form-label{
    width: 95px;
}
.layui-input-block input{
    width: 87%;
}
.layui-input-block {
    margin-right: 35px;
}
.layui-form-mid {
    float: right;
    padding: 8px 0!important;
    line-height: 20px;
    margin-top: -46px;
    margin-right: 2px;
}
.webuploader-pick {
    padding: 0 ;
}
#styleFa .layui-btn{
    background: none;
    color: #000;
}
#styleFa .layui-btn:hover{
    color: #000;
}
#styleFa button:nth-of-type(1) i{
    color: #d6ac00;
}
#styleFa button:nth-of-type(1) i:hover{
    color: #ffcd00;
}
#styleFa button:nth-of-type(2) i{
    color: #009688;
}
#styleFa button:nth-of-type(2) i:hover{
    color: #00bcaa;
}
#styleFa button:nth-of-type(3) i{
    color: #e76d60;
}
#styleFa button:nth-of-type(3) i:hover{
    color: #ff8679;
}
#styleFa button:nth-of-type(4) i{
    color: #1b85e7;
}
#styleFa button:nth-of-type(4) i:hover{
    color: #2292f9;
}
#styleFa button:nth-of-type(5) i{
    color: #11c4f0;
}
#styleFa button:nth-of-type(5) i:hover{
    color: #30d4fc;
}
#styleFa button:nth-of-type(6) i{
    color: #d85c74;
}
#styleFa button:nth-of-type(6) i:hover{
    color: #ff7c95;
}
#styleFa button:nth-of-type(7) i{
    color: #ffb800;
}
#styleFa button:nth-of-type(7) i:hover{
    color: #ffd25f;
}
#styleFa button i{
    font-size: 21px;
    vertical-align: middle;
}

/*!*修改弹层的样式start*!*/
.mini-window{
    /*height: 470px !important;*/
    width: 600px !important;
}
/*.mini-panel .mini-panel-viewport{*/
    /*height: 441px !important;*/
/*}*/
.mini-panel .mini-panel-viewport .mini-panel-body{
    /*height: 375px !important;*/
    height: 280px !important;
}
.mini-panel .mini-panel-viewport .mini-panel-body .mini-tabs-table .mini-tabs-bodys{
    /*height: 348px !important;*/
    height: 249px !important;
}

.mini-window>.mini-panel-border>.mini-panel-viewport>div:nth-of-type(2){
    padding: 5px 20px 10px 20px!important;
}
/*.mini-panel .mini-tabs-scrollCt .mini-tabs-header{*/
    /*width: 545px!important;*/
/*}*/
#twin_linkgrid>.mini-grid-border{
    width: 560px;
}
/*.mini-panel .mini-tabs-table .mini-tabs-bodys{*/
    /*width: 545px!important;*/
/*}*/
.mini-panel .mini-panel-title{
    margin-left: 10pt;
}
.mini-panel .mini-panel-header,.mini-panel .mini-panel-toolbar,.mini-panel .mini-panel-toolbar .mini-toolbar,.mini-panel .mini-panel-footer {
    background: #FFFFFF !important;
}
.mini-panel .mini-panel-toolbar .mini-toolbar{
    padding: 8px 0;
}
.mini-panel .mini-panel-footer .mini-button {
    background: #009688 !important;
    border: none;
    color: #FFFFFF;
}
/*tab*/
.mini-tab{
    background: #FFFFFF !important;
}
.mini-panel-toolbar #twin_linkbar,.mini-panel-toolbar #twin_resbar{
    float: right;
    margin-right: 10px;
}
.mini-panel-toolbar #twin_linkbar .mini-button:nth-of-type(1),.mini-panel-toolbar #twin_resbar .mini-button:nth-of-type(1){
    background: #1E9FFF !important;
    color: white;
    border: none !important;
}
.mini-panel-toolbar #twin_linkbar .mini-button:nth-of-type(2),.mini-panel-toolbar #twin_resbar .mini-button:nth-of-type(2){
    background: #FFB800 !important;
    color: white;
    border: none !important;
}
.mini-grid-body{
    height: 189px!important;
}
/*!*常规的内容*!*/
.mini-window .mini-panel-viewport .mini-tabs .mini-tabs-table .mini-tabs-bodys>.mini-tabs-body fieldset{
    margin-top: -10px!important;
}
.mini-window .mini-panel-viewport .mini-tabs .mini-tabs-table .mini-tabs-bodys>.mini-tabs-body fieldset>div>span:nth-of-type(2){
    margin-left: 14px!important;
}
.mini-window .mini-panel-viewport .mini-tabs .mini-tabs-table .mini-tabs-bodys>.mini-tabs-body fieldset>div>span:nth-of-type(3){
    margin-left: 95px!important;
}
.mini-window .mini-panel-viewport .mini-tabs .mini-tabs-table .mini-tabs-bodys>.mini-tabs-body fieldset>div>span:nth-of-type(4){
    margin-left: 20px!important;
}
.mini-panel .mini-tabs-bodys>div:first-child>table{
    margin: 10px 5px 0 5px;
}
.mini-panel .mini-tabs-bodys>div:first-child>table>tbody>tr>td{
    padding: 19px 0px 0 0;
}
/*!*修改弹层的样式end*!*/

/*开关*/
.layui-form-switch {
    margin-top: 0 !important;
}