.dataTables_wrapper, .tbcontainer{
    display: block;
}
.layui-layer-content{
    padding: 0;
}
.dataTables_wrapper .dataTables_filter{
    margin-bottom:20px;
}
.layui-form{
    padding-top: 20px;
}