.dataTables_wrapper, .tbcontainer{
    display: block;
}
.layui-layer-content{
    padding: 0;
}
.dataTables_wrapper .dataTables_filter{
    margin: 5px 0px 15px;
}
.layui-form{
    padding-top: 20px;
}