.dataTables_wrapper, .tbcontainer{
    display: block;
}
.layui-layer-content{
    padding: 0;
}
.layui-form{
    padding-top: 20px;
}
.layui-layer-content .layui-input-block{
    margin-right: 25px;
}
.layui-layer-loading .layui-layer-loading1{
    width: 200px;
    height: 65px;
    line-height: 105px;
    text-align: center;
    background-position: center top;
    color: #FFF;
}