{include file="../../public/common_header"}
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="__PUBLIC__/colorpicker/css/bootstrap-colorpicker.css">-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-colorpicker/2.5.2/css/bootstrap-colorpicker.css">

<style>
    h4{
        line-height: 30px;
        text-indent: 1em;
    }
    h4 span{
        position: relative;
        left: 5px;
        top: -2px;
    }
    fieldset {
        display: block;
        -webkit-margin-start: 2px;
        -webkit-margin-end: 2px;
        -webkit-padding-start: 0.75em;
        -webkit-padding-end: 0.75em;
        -webkit-padding-after: 0.625em;
        min-width: -webkit-min-content;
        border-width: 2px;
        border-style: groove;
        border-color: #EEEEEE;
        border-image: initial;
    }
    .legends {
        width: auto;
        font-size: 16px;
        display: block;
        -webkit-padding-start: 2px;
        -webkit-padding-end: 2px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
</style>
<div class="layui-fuild" id="formContent">

    <!--首页-->
    <div class="layui-row">
        <h4 class=""><i class="glyphicon glyphicon-record" style="color: #009688;"></i><span>首页3D效果配置</span></h4>
        <form class="layui-form" action="" style="padding: 5px 40px">
            <input  type="hidden" name="major_key" value="1"/>
            <fieldset>
                <legend class="legends">选择集</legend>
                <div class="layui-row">
                    <div class="layui-form-item layui-col-xs7 pull-right">
                        <label class="layui-form-label" style="width: 150px;">选择集透明度</label>
                        <div class="layui-input-inline input-group ">
                            <input  id="pellucidity_home" type="text" name="pellucidity" style="width: 254px;" class="form-control input-lg" onchange="opcityControl(this)"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        </div>
                        <div class="layui-form-mid layui-word-aux">(ps:透明度的值必须为0到1之间)</div>
                    </div>
                    <div class=" layui-col-xs4">
                        <label class="layui-form-label" style="width: 150px;">选择集颜色</label>
                        <div id="pigment_home_color" class="layui-input-block input-group colorpicker-component" title="Using input value">
                            <input type="text" name="pigment"  id="pigment_home" class="form-control input-lg"/>
                            <span class="input-group-addon"><i style="z-index: 9999"></i></span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin-top: 15px">
                <legend class="legends">透明效果</legend>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 150px;">透明效果的透明度</label>
                    <div class="layui-input-inline input-group" style="width: 294px">
                        <input type="text"  id="transparent_effect_home" name="transparent_effect" class="form-control input-lg" onchange="opcityControl(this)"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    </div>
                    <div class="layui-form-mid layui-word-aux">(ps:透明度的值必须为0到1之间)</div>
                </div>
            </fieldset>
            <div class="layui-form-item" style="margin-top: 20px;">
                <div class="layui-input-block" style="text-align: center;">
                    <button class="layui-btn" lay-submit lay-filter="homeApply" style="margin-right: 80px">应用</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <!--质量-->
    <div class="layui-row">
        <h4 class=""><i class="glyphicon glyphicon-record" style="color: #009688;"></i><span>质量3D效果配置</span></h4>
        <form class="layui-form" action="" style="padding: 5px 40px">
            <input  type="hidden" name="major_key" value="2"/>
            <fieldset>
                <legend class="legends">选择集</legend>
                <div class="layui-form-item layui-col-xs7 pull-right">
                    <label class="layui-form-label" style="width: 150px;">选择集透明度</label>
                    <div class="layui-input-inline input-group ">
                        <input  id="pellucidity_quality" type="text" name="pellucidity" class="form-control input-lg" style="width: 254px;" onchange="opcityControl(this)"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    </div>
                    <div class="layui-form-mid layui-word-aux">(ps:透明度的值必须为0到1之间)</div>
                </div>
                <div class="layui-col-xs4">
                    <label class="layui-form-label" style="width: 150px;">选择集颜色</label>
                    <div id="pigment_quality_color" class="layui-input-block input-group colorpicker-component" title="Using input value" style="width: 314px;">
                        <input  id="pigment_quality" type="text" name="pigment" class="form-control input-lg"/>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
            </fieldset>
            <fieldset style="padding-bottom: 20px;margin-top: 15px">
                <legend class="legends">验评结果</legend>
                <div class="layui-col-xs4">
                    <label class="layui-form-label" style="width: 150px;">优良颜色</label>
                    <div id="choiceness_pigment_color" class="layui-input-block input-group colorpicker-component" title="Using input value">
                        <input type="text"  id="choiceness_pigment" name="choiceness_pigment" class="form-control input-lg"/>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>

                <div class="layui-col-xs4" style="margin-left: 88px">
                    <label class="layui-form-label" style="width: 150px;">合格颜色</label>
                    <div id="qualified_pigment_color" class="layui-input-block input-group colorpicker-component" title="Using input value">
                        <input type="text"  id="qualified_pigment" name="qualified_pigment" class="form-control input-lg"/>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
            </fieldset>
            <div class="layui-form-item" style="margin-top: 20px">
                <div class="layui-input-block" style="text-align: center">
                    <button class="layui-btn" lay-submit lay-filter="qualityApply" style="margin-right: 80px">应用</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

</div>
{include file="../../public/common_footer"}
<script type="text/javascript" src="__PUBLIC__/jquery/jquery.min.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/colorpicker/js/bootstrap-colorpicker.js"></script>-->
<script src="https://cdn.bootcss.com/bootstrap-colorpicker/2.5.2/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="__WEBSITE__/modelmanagement/configure/index.js"></script>
</body>
</html>
