{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__PUBLIC__/colorpicker/css/colorpicker.css">
<script type="text/javascript" src="__PUBLIC__/colorpicker/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/colorpicker/js/colorpicker.js"></script>
<style>

    .colorStyle >div{
        float:left;
    }
    .colorStyle,.you,.zuo{
        margin-left: 50px;
        margin-right: 50px;
    }
    .you{
        margin-left: 0px;
    }
    .qualityBottom{
        clear: both;
    }
    #big >div>div{
        margin: 12px;
    }
    .homeTop,.qualityBottom{
        width: 99.4%;
        height: 240px;
        margin-left: 5px;
        margin-top: 5px;
        border: 1px solid ;
    }
    .config{
        width: 99.4%;
        float: left;
        height: 30px;
    }
    .config .edit,.config .app{
        float: right;
        background-color: #00c0ef;
    }
    .config .edit,.config .app{
        margin-right: 0.5%;
        margin-bottom: 5px;
        margin-top: 5px;

    }
</style>
<div id="big">
    <div class="config">
        <span class="edit layui-btn layui-btn-sm">编辑</span>
        <span class="app layui-btn layui-btn-sm">应用</span>
    </div>
    <div class="homeTop">
        <div><h3>首页3D</h3></div>
        <div class="colorStyle" style="margin-right: 50px;">
            <div class="zuo" style="margin-right: 50px;">
                <span></span>
                <label for="home3dId" onselectstart="return false;">透明度</label>
                <input type='text' name='all_checked_plan' id="home3dId" value='' placeholder="请手填透明度值" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
            </div>
            <div class="you">
                <span>颜色：</span>
                <div id="colorpickerHome1"></div>
            </div>
        </div>
        <div class="colorStyle">
            <div class="zuo" style="margin-right: 50px;">
                <label for="transparency3dId" onselectstart="return false;">透明效果:透明度</label>
                <input type='text' name='all_checked_plan' id="transparency3dId" value='' placeholder="请手填透明度值" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
            </div>
            <div class="you">
                <span>颜色：</span>
                <div id="colorpickerHome2"></div>
            </div>
        </div>
    </div>
    <div class="qualityBottom" style="margin-top: 10px">
        <div><h3>质量3D</h3></div>
        <div class="colorStyle">
            <div class="zuo">
                <label for="quality3dId" onselectstart="return false;">透明度</label>
                <input type='text' name='all_checked_plan' id="quality3dId" value='' placeholder="请手填透明度值" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
            </div>
            <div class="you">
                <span>颜色：</span>
                <div id="colorpickerHolder1"></div>
            </div>
        </div>
        <div class="colorStyle">
            <div class="zuo">
                <label for="qualifiedId" onselectstart="return false;">优良/合格:透明度</label>
                <input type='text' name='all_checked_plan' id="qualifiedId" value='' placeholder="请手填透明度值" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
            </div>
            <div class="you">
                <span>颜色：</span>
                <div id="colorpickerHolder2"></div>
            </div>
        </div>
    </div>
</div>
<!--</body>-->
<script>

    $(function(){
        // $('#colorpickerHolder').ColorPicker({flat: true});

        $('#colorpickerHome1').ColorPicker({
            flat: true,
            color: '#00ff00',
            onSubmit: function(hsb, hex, rgb) {
                console.log(rgb);
            }
        });
        $('#colorpickerHome2').ColorPicker({
            flat: true,
            color: '#00ff00',
            onSubmit: function(hsb, hex, rgb) {
                console.log(rgb);
            }
        });
        $('#colorpickerHolder2').ColorPicker({
            flat: true,
            color: '#00ff00',
            onSubmit: function(hsb, hex, rgb) {
                console.log(rgb);
            }
        });
        $('#colorpickerHolder1').ColorPicker({
            flat: true,
            color: '#00ff00',
            onSubmit: function(hsb, hex, rgb) {
                console.log(rgb);
            }
        });

        // $('#colorpickerHolder2>div').css('position', 'absolute');
        // var widt = false;
        // $('#colorSelector2').bind('click', function() {
        //     $('#colorpickerHolder2').stop().animate({height: widt ? 0 : 173}, 500);
        //     widt = !widt;
        // });

        // $('#colorpickerField1, #colorpickerField2, #colorpickerField3').ColorPicker({
        //     onSubmit: function(hsb, hex, rgb, el) {
        //         $(el).val(hex);
        //         $(el).ColorPickerHide();
        //     },
        //     onBeforeShow: function () {
        //         $(this).ColorPickerSetColor(this.value);
        //     }
        // })
        //     .bind('keyup', function(){
        //         $(this).ColorPickerSetColor(this.value);
        //     });
        // $('#colorSelector').ColorPicker({
        //     color: '#0000ff',
        //     onShow: function (colpkr) {
        //         $(colpkr).fadeIn(500);
        //         return false;
        //     },
        //     onHide: function (colpkr) {
        //         $(colpkr).fadeOut(500);
        //         return false;
        //     },
        //     onChange: function (hsb, hex, rgb) {
        //         $('#colorSelector div').css('backgroundColor', '#' + hex);
        //     }
        // });
    });


</script>
<!--{include file="../app/public/common_footer.html"}-->
</html>
