.layui-form {
    float: left;
}

.operation-bar {
    border-bottom: 1px solid #ebebeb;
    padding: 12px 0;
}

.operation-bar .layui-form-item {
    margin-bottom: 0;
}

.operation-bar .layui-form-label {
    padding: 8px 10px;
    width: auto;
}

.operation-bar .layui-form-label:first-child {
    margin-left: 20px;
}

.operation-bar .layui-input-inline {
    width: 140px;
}

.operation-bar .layui-form-label:first-child + .layui-input-inline {
    margin-right: 70px;
    width: 240px;
}

.operation-bar .layui-form-mid.layui-word-aux.no-position {
    padding: 8px 0 !important;
}

.layui-progress-tips {
    display: inline-block;
    position: relative;
    top: 15px;
    width: 70px;
    text-align: left;
    color: #009688;
    font-size: 12px;
}

.play {
    float: right;
    height: 36px;
    line-height: 36px;
}

.pause {
    display: none;
}

.speed {
    text-align: right;
}

.speed span {
    margin-right: 50px;
    line-height: 1;
    font-size: 16px;
}

.speed em {
    display: inline-block;
    width: 20px;
    font-style: normal;
    text-align: left;
}

.speed i.fa {
    margin-right: 30px;
}

i.fa-circle {
    position: absolute;
    top: -5px;
    right: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

i.fa:before, i.fa:hover:before {
    color: #009688;
    cursor: pointer;
}

.layui-progress {
    margin: 15px 20px;
    height: 10px;
    background-color: #ebebeb;
}

.layui-bg-green {
    height: 10px;
    background-color: #43c5ae !important;
}

.model-wrap {
    top: 15px;
    margin: 0 20px;
}

.panel-header, .panel-body {
    border-style: none;
}

.east {
    padding: 0 10px;
    width: 280px;
    background-color: #e5e5e5;
}

.layui-table-view {
    margin: 0;
}
.table-title{
    height: 50px;
    line-height: 50px;
}
.table-title li{
    margin-left: 29px;
}
.table-title li:first-child{
    margin: 0;
}
.table-title li,.table-title span{
    display: inline-block;
    vertical-align: middle;
}
.table-title span{
    font-size: 16px;
    color: #333;
}
.table-title span+span{
    width: 30px;
    height: 14px;
    border: 1px solid #333;
}
.layui-table th{
    text-align: center;
}
.layui-table-cell{
    text-align: center;
}