{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__WEBSITE__/quality/unitqualitymanage/common/common.css">
<link rel="stylesheet" href="__PUBLIC__/ztree/css/ztreequality/css/engineering.css">
<style>
    #tableContent .imgList {
        margin-top: 10px;
        border-top: 1px dotted #000;
        margin-bottom: .5%;
    }
    .uploadBox i.fa:before,.relationBox i.fa:before{
        background: none;
        color: #ffffff;
    }
    .selectShow {
        display: none;
    }
    #tableContent{
        border: none;
    }
    .dataTables_wrapper, .tbcontainer {
        display: block;
    }
    /*#tableItem_wrapper{*/
    /*height: calc(100% - 50px);*/
    /*}*/
    #tableContent2 .dataTables_scroll,#unitWorkRightBottom .dataTables_scroll,#tableSituation_wrapper{
        height: 100%;
    }
    #tableContent2 .dataTables_scrollBody{
        max-height: none!important;
        width: 100%;
        height: calc(100% - 99px)!important;
        border-bottom: none!important;
    }
    #unitWorkRightBottom .dataTables_scrollBody{
        max-height: none!important;
        width: 100%;
        height: calc(100% - 70px)!important;
        border-bottom: none!important;
    }
    #tableContent2 .dataTables_scrollHeadInner,#tableContent2 table,#tableContent2 .unitWorkRightBottom,#unitWorkRightBottom table {
        width: 100%!important;
    }
    .dataTables_scrollHeadInner{
        width: 100% !important;
    }
    .result{
        display: none;
        margin-top: 13px;
        position: relative;
    }
    .result .layui-select-title,#date{
        width: 240px;
    }
    .result .layui-form-label{
        font-weight: bolder;
    }
    .result form input{
        width: 240px;
    }
    .layui-input[readonly]{
        background-color: #fff!important;
    }
    .result .disabledColor{
        background-color: #e0e0e0 !important
    }
</style>
<div data-options="region:'west',title:'工程划分',split:true" style="width:260px;">
    <ul id="ztree" class="ztree" style="height: 98.5%;"></ul>
</div>
<div id="tableContent" data-options="region:'center'">
    <div class="easyui-layout" data-options="fit:true">
        <div id="tableContent2" data-options="region:'north',title:'&nbsp;<i class=\'fa fa-dot-circle-o\'></i>&nbsp;控制点',split:true" style="width:100%;height: 70%; position: relative;">
            <!--<div class="listName" style="padding-left: 0.5%"><h3><i class='fa fa-dot-circle-o'></i>控制点</h3></div>-->
            <div class="result">
                <form class="layui-form" action="" style="text-align: center;">
                    <div class="layui-inline" style="margin-left: -3%">
                        <label class="layui-form-label">验评结果</label>
                        <div class="layui-input-inline">
                            <select name="type" lay-filter="type">
                                <option value="">-请选择-</option>
                                <option value="0">未验评</option>
                                <option value="1">优良</option>
                                <option value="2">合格</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 5%">
                        <label class="layui-form-label">验评日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="date" id="date" lay-verify="date"  placeholder="请选择" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </form>
            </div>
            <div class="imgList" style="width: 100%;">
                <span id="imgListLeft">
                    <a id="homeWork" class="imgListStyle" onclick="clickConName(0)" href="javascript:;"><img src="__WEBSITE__/quality/branch/work.png" alt="工作">&nbsp;作业</a>
                </span>
                <span class="imgListStyle" id="imgListRight">

                </span>
            </div>
            <table id="tableItem" class="table table-striped table-bordered" style="width: 100%;" cellspacing="0">
                <thead>
                <tr>
                    <th>控制点编号</th>
                    <th>控制点名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
            <div class="tbcontainer">
                <div class="mark"></div>
            </div>
        </div>
        <div id="unitWorkRightBottom" data-options="region:'center',split:true">
            <div id="tt" class="easyui-tabs" style="width:100%;height: 100%;">
                <div title="资料准备" style="padding:0;">
                    <table id="tableSituation" class="table table-striped table-bordered" cellspacing="0"  style="border-top: none;" width="100%">
                        <thead>
                        <tr>
                            <th>文件名称</th>
                            <th>负责人</th>
                            <th>单位</th>
                            <th>拍摄时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="tbcontainer">
                        <div class="markSituation"></div>
                    </div>
                </div>
            </div>
            <div class="relationBox selectShow">关联</div>
            <div class="uploadBox selectShow">上传</div>
        </div>
    </div>
    <div id="form_container" style="display: none;"></div>
</div>

{include file="../app/public/common_footer.html"}
<script>
  //获取控制点name
  function selfidName(id) {
    $.ajax({
      type: "GET",
      url: "./productionProcesses",
      // data: {id: id},
      success: function (res) {
        var res = res.data;
        var optionStrAfter = '';
        for(var i = 0;i<res.length;i++) {
          $("#imgListRight").html('');
          controlPointId = res[i].id;
          controlPointName = res[i].name;
          // if(i==0){
          //   optionStrAfter +=
          //     '<a href="javascript:;"  class="imgListStyle" onclick="clickConName('+res[i].id+')">' +
          //     '<img src="__WEBSITE__/quality/branch/work.png" alt="工作">&nbsp;'+res[i].name+'<span style="display: none;">'+res[i].id+'</span>' +
          //     '</a>\n';
          //   continue;
          // }
          optionStrAfter +=
            '<a href="javascript:;"  class="imgListStyle" onclick="clickConName('+res[i].id+')">' +
            '<img class="imgNone" src="__WEBSITE__/quality/branch/right.png" alt="箭头">' +
            '<img src="__WEBSITE__/quality/branch/process'+(i+1)+'.png" alt="工作">&nbsp;'+res[i].name+'<span style="display: none;">'+res[i].id+'</span>' +
            '</a>\n';
        };
        $("#imgListRight").append(optionStrAfter);
        console.log($('.imgList').outerHeight());
        $("#tableItem_wrapper").height("calc(100% - 3px - "+$('.imgList').outerHeight(true)+"px)");
      }
    })
  }
</script>
<script src="__WEBSITE__/quality/unitqualitymanage/control.js"></script>
</body>
</html>