<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>月度进度计划管理</title>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/modules/layer/default/layer.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="__PUBLIC__/webupload/webuploader.css" media="all" />
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="__PUBLIC__/layui/layui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="__PUBLIC__/webupload/webuploader.min.js"></script>

    <link href="__WEBSITE__/progress/monthlyplan/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div style="padding: 10px 0 0 0">
            <form class="layui-form formlable" action="" style="width: 60%;">
                <div class="layui-inline">
                    <label class="layui-form-label" style="padding-left: 0px">标段</label>
                    <div class="layui-input-inline" style="width: 320px;">
                        <select id="seleBids" name="bidsType" lay-filter="bids">
                            <!--<option value="">-请选择-</option>-->
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">年度</label>
                    <div class="layui-input-inline">
                        <select id="seleYear" name="yearType" lay-filter="year">

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">月度</label>
                    <div class="layui-input-inline">
                        <select id="seleMonthly" name="monthType" lay-filter="month">
                        </select>
                    </div>
                </div>
            </form>
            <div class="layui-inline" style="float: right;margin-top: -37px">
                <button class="layui-btn layui-btn-normal" id="addPlanTask" style="font-size: 16px;">新增月计划</button>
                <button class="layui-btn layui-btn-warm" onclick="monthlyPlanList()" style="font-size: 16px;">月计划列表</button>
            </div>
        </div>
        <div style="padding: 10px 0" id="styleFa">
            <button class="layui-btn" onclick="save()"><i class="fa fa-save" title="保存"></i>&nbsp;&nbsp;保存</button>
            <a class="mini-button" plain="true" onclick="track()" >调试</a>
            <button class="layui-btn" onclick="printGantt()"><i class="fa fa-print" title="打印"></i>&nbsp;&nbsp;打印</button>
            <button class="layui-btn" onclick="addTask()"><i class="fa fa-plus" title="增加"></i>&nbsp;&nbsp;增加</button>
            <button class="layui-btn" onclick="removeTask()"><i class="fa fa-trash" title="删除"></i>&nbsp;&nbsp;删除</button>
            <button class="layui-btn" onclick="updateTask()"><i class="fa fa-edit" title="修改"></i>&nbsp;&nbsp;修改</button>
            <button class="layui-btn" onclick="upgradeTask()"><i class="fa fa-arrow-up" title="升级"></i>&nbsp;&nbsp;升级</button>
            <button class="layui-btn" onclick="downgradeTask()"><i class="fa fa-arrow-down" title="降级"></i>&nbsp;&nbsp;降级</button>
            <div class="layui-inline layuiRight">
                <form class="layui-form" action="" style="width: 140px;display: inline-block">
                    <div class="layui-inline">
                        <input type="checkbox" id="showCriticalPath" name="yyy" lay-verify="filter" lay-skin="switch" lay-text="ON|OFF">
                        <span style="vertical-align: middle;display:inline-block;vertical-align: middle;">&nbsp;&nbsp;显示关键路径</span>
                    </div>
                </form>
                <!--<input type="checkbox" id="showCriticalPath" onclick="showCriticalPath(this.checked)" />-->
                <!--<label for="showCriticalPath">显示关键路径</label>-->
                <button class="layui-btn" onclick="zoomIn()"><img src="__WEBSITE__/progress/monthlyplan/img/zoomin.png" alt="" title="放大">&nbsp;&nbsp;放大</button>
                <button class="layui-btn" onclick="zoomOut()"><img src="__WEBSITE__/progress/monthlyplan/img/zoomout.png" alt="" title="缩小">&nbsp;&nbsp;缩小</button>
            </div>
        </div>
    </div>
    <div id="viewCt">
    </div>
    <!--导出Excel相关HTML-->
    <form id="exportForm"  action="ExportProject.aspx" method="post" target="excelIFrame">
        <input type="hidden" name="PDATA" id="PDATA" />
    </form>
    <iframe id="exportIFrame" name="exportIFrame" style="display:none;"></iframe>

    <!--新增月计划-->
    <form action="" class="layui-form layui-layer-wrap" id="addPlan" style="display: none;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">计划名称</label>
                <div class="layui-input-inline" style="width: 595px;">
                    <input type="text" name="plan_name" placeholder="请输入名称" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属标段</label>
                <div class="layui-input-inline" style="width: 595px;">
                    <input type="text"  id="secName" readonly disabled="true" autocomplete="off" class="layui-input">
                    <input type="hidden" name="section_id" id="sec_id" readonly disabled autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">年度</label>
                <div class="layui-input-inline" style="width: 224px;">
                    <input type="text" name="plan_year" id="testYear" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">月度</label>
                <div class="layui-input-inline" style="width: 224px;">
                    <input type="text" name="plan_monthly" id="testMonth" lay-verify="required" autocomplete="off" class="layui-input maBasesBtn">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remake" placeholder="请输入内容" class="layui-textarea" maxlength="500" style="width:97%;"></textarea>
                <input type="hidden" name="cover" id="coverId">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传计划报告</label>
            <div class="layui-input-block">
                <input type="text" id="report_id" name="report_id" readonly="" placeholder="请选择要上传的文件" autocomplete="off" class="layui-input">
                <input type="hidden" name="plan_report_id" id="plan_report_id_hidden" value="">
                <div id="uploadList" class="upload-list"></div>
                <div class="layui-form-mid layui-word-aux">
                    <div id="upload" class="upload layui-btn">上传</div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">请选择更新方式:</label>
                <input type="radio" name="update_mode" lay-filter="aihao" value="1" title="系统内手动编辑" checked>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <input type="radio" name="update_mode" lay-filter="aihao" value="2" title="导入全新计划版本">
            </div>
        </div>
        <div class="layui-form-item" style="display: none" id="modelListSelect">
            <label class="layui-form-label">文件格式</label>
            <div class="layui-inline" style="width: 78.5%;">
                <select id="fileFormat" name="fileFormat" lay-filter="format" style="width: 100%;">
                    <option value="">-请选择-</option>
                    <option value="">Project</option>
                    <option value="">P6</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="display: none" id="modelList">
            <label class="layui-form-label">上传计划文件</label>
            <div class="layui-input-block">
                <input type="text" name="plan_file_id" placeholder="请选择要上传的文件" autocomplete="off" class="layui-input" readonly="">
                <div id="uploadListFile" class="upload-list"></div>
                <div class="layui-form-mid layui-word-aux">
                    <div id="uploadFile" class="upload layui-btn">上传</div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: right;">
                <button class="layui-btn" lay-submit lay-filter="save" id="saveMonthPlan" style="margin-right: 30px">保存</button>
                <button type="button" class="layui-btn layui-btn-primary close">关闭</button>
            </div>
        </div>
    </form>

</div>

</body>
<link href="__PUBLIC__/gantts/scripts/miniui/themes/blue/skin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/gantts/scripts/miniui/themes/icons.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/gantts/scripts/miniui/themes/default/miniui.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/jquery/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/miniui/miniui.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/miniui/locale/zh_CN.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/plusproject/js/CalendarWindow.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/plusproject/js/ProjectMenu.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/plusproject/js/StatusColumn.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/plusproject/js/TaskWindow.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/plusproject/js/ProjectServices.js" type="text/javascript"></script>
<script src="__PUBLIC__/gantts/scripts/ThirdLibs/swfobject/swfobject.js" type="text/javascript"></script>

<script src="__WEBSITE__/progress/monthlyplan/index.js" type="text/javascript"></script>
<script type="text/javascript">

    /*标段*/
    layui.use(['form', 'layedit', 'laydate', 'element', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;
        //8)显示关键路径
        form.on('switch()', function(data){
            // console.log(data.elem.checked); //开关是否开启，true或者false
            project.setShowCriticalPath(data.elem.checked);
        });
        $.ajax({
            url: "/progress/monthlyplan/index",
            type: "get",
            success: function (res) {
                if(res.code == 1){
                    var orgs = res.sectionArr;
                    for (var indexId in orgs) {
                        $("#seleBids").append($("<option/>").text(orgs[indexId]).attr({"value": indexId}));
                    }
                    layui.form.render();
                    var idBid = $("#seleBids").val();
                    yearFun(idBid);
                }
            }
        });
    });
    /*年度*/
    function yearFun(id) {
        $.ajax({
            url: "/progress/monthlyplan/planYear",
            async : false,
            type: "post",
            data: {section_id: id,plan_type:1},
            dataType: "json",
            success: function (res) {
                if(res.code == 1){
                    var orgs = res.data;
                    for(var i=0;i<orgs.length;i++){
                        $("#seleYear").append($("<option/>").text(orgs[i]));
                    }
                    layui.form.render();
                    monthFun($("#seleBids").val(),$("#testYear").val());
                }if(res.code != 1){
                    layer.msg(res.msg)
                }
            }
        });
    }
    /*月度*/
    function monthFun(set_id,year_id) {
        $.ajax({
            async : false,
            url: "/progress/monthlyplan/planMonthly",
            type: "post",
            data: {section_id:set_id,plan_year:year_id,plan_type:1},
            dataType: "json",
            success: function (res) {
                if(res.code == 1){
                    var orgs = res.data;
                    for(var i=0;i<orgs.length;i++){
                        $("#seleMonthly").append($("<option/>").text(orgs[i]));
                    }
                    layui.form.render();
                    /*甘特图的获取数据*/
                    load($("#seleBids").val(),$("#testYear").val(),$("#seleMonthly").val());
                }if(res.code != 1){
                    layer.msg(res.msg)
                }
            }
        });
    }

/*实例化甘特图start-----------------------------------------------------------------------------*/
    var project = new PlusProject();
    project.setStyle("width:100%;height:727px");
    var columns = [];
    var WbsColumn = {
        name: "WBS",
        header: "WBS<br/>String",
        field: "WBS",                   //WBS
        width: 50,
        editor: {
            type: "textbox"
        }
    };
    var UnitColumn = {
        name: "Unit",
        header: "单位<br/>String",
        field: "Unit",                  //Unit
        width: 80,
        editor: {
            type: "textbox"
        }
    };
    var stringColumn = {
        name: "Quantities",
        header: "工程量<br/>String",
        field: "Quantities",            //Quantities
        width: 90,
        editor: {
            type: "textbox"
        }
    };
    columns.push(WbsColumn);
    columns.push( new PlusProject.StatusColumn());
    columns.push(new PlusProject.NameColumn());
    columns.push(UnitColumn);
    columns.push(stringColumn);
    columns.push(new PlusProject.DurationColumn());
    columns.push(new PlusProject.StartColumn());
    columns.push(new PlusProject.FinishColumn());
    project.setColumns(columns);
    // project.setColumns([
    //     // new PlusProject.IDColumn(),             //任务序号。
    //     new PlusProject.WBSColumn(),            //WBS编码。
    //     new PlusProject.StatusColumn(),         //状态。
    //     new PlusProject.NameColumn(),           //任务名称。
    //     new PlusProject.QuantitiesColumn(),     //工程量。
    //     // new PlusProject.PredecessorLinkColumn(),//前置任务。
    //     // new PlusProject.PercentCompleteColumn(),//完成百分比。
    //     new PlusProject.DurationColumn(),       //工期。
    //     new PlusProject.StartColumn(),          //开始日期。
    //     new PlusProject.FinishColumn(),         //完成日期。
    //     // new PlusProject.WorkColumn(),           //工时。
    //     // new PlusProject.DepartmentColumn(),     //部门。
    //     // new PlusProject.PrincipalColumn(),      //负责人。
    //     // new PlusProject.AssignmentsColumn()     //资源名称。
    //
    // ]);

    // project.setRowHeight(30);                   //设置行高
    // project.setShowLinkLines(true);             //设置是否显示箭头连线
    // project.setShowCriticalPath(true);          //设置是否显示关键路径
    // project.setAllowDragDrop(false);             //设置是否允许任务行拖拽
    // project.setShowGridLines(true);             //设置是否显示关键路径
    project.render(document.getElementById("viewCt"));
    //创建右键菜单
    var menu = new ProjectMenu();
    project.setContextMenu(menu);
    menu.edit.on("click", function (e) {
        ShowTaskWindow(project);
    });

    //获取数据
    // LoadJSONProject("__PUBLIC__/gantts/data/project.txt", project, function () {
    //     var projectStart = mini.get("projectStart");
    //
    //     project.setStartDate(new Date(2017,1,1));
    // });

    //加载数据
    function load(sectionId,planYear,monthly) {
        project.loading();
        $.ajax({
            url: "/progress/monthlyplan/monthlyInitialise",
            data:{
                section_id:sectionId,
                plan_year:planYear,
                plan_monthly:monthly,
                plan_type:1,
            },
            cache: false,
            success: function (text) {
                // console.log(text)
                // var data = mini.decode(res);
                // //列表转树形
                // var dataArr = mini.arrayToTree(data, "children", "UID", "ParentTaskUID");
                // project.loadTasks(res);
                // project.unmask();

                var dataProject = mini.decode(text);

                doSetProjectData(project, dataProject);

                project.unmask();
            }
        });
    }

    //锁定列
    function frozenColumn() {
        project.frozenColumn(0, 2);
    }
    frozenColumn();
/*实例化甘特图end-----------------------------------------------------------------------------*/


    /* 业务代码
-----------------------------------------------------------------------------*/

    project.on('itemdragstart', function (e) {
        // console.log(e);
        // var project = e.source;
        // var task = e.task;
    });

    project.on("drawcell", function (e) {
        var task = e.record, column = e.column, field = e.field;
        //新增
        if (task._state == "added") {
            e.rowCls = "row_added";
        }
        //删除
        if (task.Deleted == true) {
            e.rowCls = "row_deleted";
        }
    });
    //1)调试
    function track() {
        TrackProject(project);
    }
    //2)保存
    function save() {
        SaveProject(project);
    }
    //3)打印
    function printGantt() {
        project.printServer = "__PUBLIC__/gantts/scripts/plusproject/services/snapshot/snapshot.aspx";
        project.printCSS = "__PUBLIC__/gantts/scripts/miniui/themes/default/miniui.css";
        project.print();
    }
    //4)新增
    function addTask() {
        var newTask = project.newTask();
        newTask.Name = '<新增任务>';    //初始化任务属性

        var selectedTask = project.getSelected();
        if (selectedTask) {
            project.addTask(newTask, "before", selectedTask);   //插入到到选中任务之前
            //project.addTask(newTask, "add", selectedTask);       //加入到选中任务之内
        } else {
            project.addTask(newTask);
        }
        // $.ajax({
        //     url: 'savegant.aspx',
        //     type: "POST",
        //     data: params,
        //     success: function (text) {
        //         alert("保存成功");
        //     }
        // });
    }
    //5)删除
    function removeTask() {
        var task = project.getSelected();
        if (task) {
            if (confirm("确定删除任务 \"" + task.Name + "\" ？")) {
                project.removeTask(task);
            }
        } else {
            // layer.confirm("请选中任务");
            alert("请选中任务");
        }
    }
    //5)修改
    function updateTask() {
        var task = project.getSelected();
        if (task) {
            ShowTaskWindow(project);
            if($(".mini-tabs-header td:nth-of-type(8)").text() == "高级" || $(".mini-tabs-header td:nth-of-type(9)").text() == "备注" || $(".mini-tabs-header td:nth-of-type(10)").text() == "自定义Tab"){
                $(".mini-tabs-header td:nth-of-type(1)").remove();
                $(".mini-tabs-header td:nth-of-type(7)").remove();
                $(".mini-tabs-header td:nth-of-type(8)").remove();
                $(".mini-tabs-header td:nth-of-type(9)").remove();
                $("#fs_actualdate").remove();
            }
        } else {
            alert("请选中任务");
        }
    }
    //6)升级
    function upgradeTask() {
        var task = project.getSelected();
        if (task) {
            project.upgradeTask(task);
        } else {
            alert("请先选中任务");
        }
    }
    //7)降级
    function downgradeTask() {
        var task = project.getSelected();
        if (task) {
            project.downgradeTask(task);
        } else {
            alert("请先选中任务");
        }
    }
    //8)显示关键路径 在上面
    // function showCriticalPath(shows) {
    //     project.setShowCriticalPath(shows);
    // }
    //9)放大
    function zoomIn() {
        project.zoomIn();
    }
    //10)缩小
    function zoomOut() {
        project.zoomOut();
    }

    // //11)更新
    // function updateTask() {
    //     var selectedTask = project.getSelected();
    //     alert("编辑选中任务:" + selectedTask.Name);
    // }
    // //112)更改顶部时间刻度
    // function changeTopTimeScale(value) {
    //     project.setTopTimeScale(value)
    // }
    // //13)更改低部时间刻度
    // function changeBottomTimeScale(value) {
    //     project.setBottomTimeScale(value)
    // }



</script>
</html>