{include file="../app/public/common_header.html"}
<style>
    #monthList{
        padding: 0 18px;
    }
    /*.webuploader-pick {*/
        /*padding: 0;*/
        /*top: 0px;*/
        /*position: absolute;*/
    /*}*/
    .select-color{
        background-color: #FDD5B5 !important;
    }
</style>
<div id="monthList">
    <input type="hidden" id="selectId" value="{$section_id}">
    <table id="monthList_table" width="100%" class="table cell-border">
        <thead>
            <tr>
                <th>年度</th>
                <th>月度</th>
                <th>计划名称</th>
                <th>编制人</th>
                <th>编制日期</th>
                <th>备注</th>
                <th>操作</th>
                <th>计划报告</th>
            </tr>
        </thead>
    </table>
</div>
<div id="form_container_from" style="display: none;"></div>
{include file="../app/public/common_footer.html"}
<script>
    var selectData;
    var rowId;
    /*初始化*/
    var monthList_table =  $('#monthList_table').DataTable({
        pagingType: "full_numbers",
        processing: true,
        serverSide: true,
        bAutoWidth: false,  //是否自动宽度
        scrollX: true,
        scrollY: "520px",   //表格容器高度
        scrollCollapse: true,
        ajax: {
            url: '/progress/common/datatablesPre?tableName=progress_monthlyplan&section_id='+$("#selectId").val()
        },
        dom: 'ltip',
        columns: [
            {
                name: "plan_year"
            },
            {
                name: "plan_monthly"
            },
            {
                name: "plan_name"
            },
            {
                name: "name"
               /*其实是user_id,只不过换了名字*/
            },
            {
                name: "preparation_date"
            },
            {
                name: "remake"
            },
            {
                name: "id"
            },
            {
                name: "plan_report_id"
            }
        ],
        columnDefs: [
            {
                searchable: false,
                orderable: false,
                targets: [6],
                render: function (data, type, row) {
                    var html = '<i class="fa fa-search" title="查看" onclick="see(this)"></i>';
                    html += '<i class="fa fa-trash" title="删除" onclick="secDel('+row[6]+')"></i>';
                    if(row[7] == null || row[7] == 0){
                        // html += '<i class="fa fa-upload" title="上传报告" onclick="uploadReport('+row[6]+')"></i>';
                        html += '<i title="上传报告" class="upload uploadBtnDemo fa fa-upload"><span style="display: none">'+row[6]+'</span></i>';
                    }
                    if(row[7] != null && row[7] != 0){
                        html += '<i class="fa fa-download" title="下载报告" onclick="dowReport('+row[7]+')"></i>';
                        html += '<i class="fa fa-remove" title="删除报告" onclick="delReport('+row[6]+','+row[7]+')"></i>';
                    }
                    return html;
                }
            },
            {
                searchable: false,
                orderable: false,
                targets: [7],
                "visible": false,
            }
        ],
        fnCreatedRow:function (nRow, aData, iDataIndex){
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        },
        "fnDrawCallback":function(obj){
            //点击行获取Id
            $("#monthList_table").delegate("tbody tr","click",function (e) {
                if($(e.target).hasClass("dataTables_empty")){
                    return;
                }
                $(this).addClass("select-color").siblings().removeClass("select-color");
                selectData = monthList_table.row(".select-color").data();//获取选中行数据
                console.log(selectData[6] +" ------控制点 rowId");
                rowId = selectData[6];
            });
            layui.use(['element', "layer", 'form', 'upload'], function () {
                var $ = layui.jquery
                    , element = layui.element
                    , upload = layui.upload;

                var form = layui.form
                    , layer = layui.layer
                var files;
                upload.render({
                    elem: '.uploadBtnDemo',
                    url: "/admin/common/upload?module=progress&use=monthlyplan",
                    accept:"file",
                    // before: function(obj){
                    //     obj.preview(function(index, file, result){
                    //         uploadName = file.name;
                    //     })
                    // },
                    choose: function (obj) {
                        files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    },
                    done: function(res){
                        if(res.code == 2){
                            var uploadId = res.id;
                            uploadReport(rowId,uploadId)
                        }else{
                            layer.msg(res.msg,{time:1500})
                        }
                    },
                });
            });
        },

        language: {
            "lengthMenu": "_MENU_ ",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "search": "搜索",
            "sSearchPlaceholder": "请输入关键字",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "paginate": {
                "sFirst": "<<",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": ">>"
            }
        }
    });

    /*查看*/
    function see(){

    }
    /*删除*/
    function secDel(id){
        layer.confirm("你将删除该条月计划数据，是否确认删除？", function () {
            $.ajax({
                url: "/progress/monthlyplan/del",
                type: "post",
                data: {plan_id: id},
                success: function (res) {
                    if (res.code === 1) {
                        layer.msg(res.msg, {time: 1100, shade: 0.1});
                        monthList_table.ajax.url('/progress/common/datatablesPre?tableName=progress_monthlyplan&section_id='+$("#selectId").val()).load();
                    }else{
                        layer.msg(res.msg)
                    }
                }
            });
        });
    }

    //上传的调用
    function uploadReport(id,fileId){
        $.ajax({
            url: "/progress/monthlyplan/delOrSaveReport",
            type: "post",
            data: {plan_id: id,file_id:fileId,plan_type:1},
            success: function (res) {
                if (res.code === 1) {
                    layer.msg(res.msg, {time: 1100, shade: 0.1});
                    monthList_table.ajax.url('/progress/common/datatablesPre?tableName=progress_monthlyplan&section_id='+$("#selectId").val()).load();
                }else{
                    layer.msg(res.msg)
                }
            }
        });
    }

    //下载封装的方法
    function downloadFrom(id,url) {
        $.ajax({
            url: url,
            type:"post",
            dataType: "json",
            data:{file_id:id},
            success: function (res) {
                if(res.code != 1){
                    layer.msg(res.msg);
                }else {
                    $("#form_container_from").empty();
                    var str = "";
                    str += ""
                        + "<iframe name=downloadFrame"+ id +" style='display:none;'></iframe>"
                        + "<form name=download"+id +" action="+ url +" method='get' target=downloadFrame"+ id + ">"
                        + "<span class='file_name' style='color: #000;'>"+str+"</span>"
                        + "<input class='file_url' style='display: none;' name='file_id' value="+ id +">"
                        + "<button type='submit' class=btn" + id +"></button>"
                        + "</form>"
                    $("#form_container_from").append(str);
                    $("#form_container_from").find(".btn" + id).click();
                }
            }
        })
    }
    /*下载报告*/
    function dowReport(id){
        downloadFrom(id,"/progress/monthlyplan/download")
    }
    /*删除报告*/
    function delReport(id,fileId){
        layer.confirm("你将删除该数据的月计划报告，是否确认删除？", function () {
            $.ajax({
                url: "/progress/monthlyplan/delOrSaveReport",
                type: "post",
                data: {plan_id: id,file_id:fileId,plan_type:2},
                success: function (res) {
                    if (res.code === 1) {
                        layer.msg(res.msg, {time: 1100, shade: 0.1});
                        monthList_table.ajax.url('/progress/common/datatablesPre?tableName=progress_monthlyplan&section_id='+$("#selectId").val()).load();
                    }else{
                        layer.msg(res.msg)
                    }
                }
            });
        });
    }

</script>
</html>