/**
 * @writing-time:  2017.11.15
 */
em{
	font-style: normal;
}

.operation-menu a {
	margin:0 10px;
	font-size:16px;
}
.head_menu {
	float:left;
	padding:4px 8px;
	margin:15px 0;
	margin-left:10px;
	background:#00c0ef;
	border-radius: 2px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	color:#fff;
}

.head_menu:hover{
	color:#fff;
}
.head_menu i {
	font-size: 12px;
}

.refresh {
	float:left;
	padding:3px 8px;
	color:#fff;
}

.layui-tab-title li{
	padding:0 5px;
}

.layui-tab-title li .layui-tab-close{
	margin-left:5px;
}

body .color-class .layui-layer-btn{
	position: absolute;
	top:50px;
}

body .color-class .layui-layer-btn .layui-layer-btn0{
	background:#23262E;
	color:#fff;
	border-color:#23262E;
}

body .color-class .layui-layer-btn .layui-layer-btn1{
	background:#ff6700;
	color:#fff;
	border-color:#ff6700;
}
body .color-class .layui-layer-btn .layui-layer-btn2{
	background:#00a65a;
	color:#fff;
	border-color:#00a65a;
}
body .color-class .layui-layer-btn .layui-layer-btn3{
	background:#FA6086;
	color:#fff;
	border-color:#FA6086;
}
body .color-class .layui-layer-btn .layui-layer-btn4{
	background:#00c0ef;
	color:#fff;
	border-color:#00c0ef;
}
body .color-class .layui-layer-btn .layui-layer-btn5{
	background:#dd4b39;
	color:#fff;
	border-color:#dd4b39;
}

body .demo-class textarea {background:#fff;width:200px;color:#000;border:0;}
#LAY_layuipro {position: relative;}
body .demo-class .layui-layer-btn{
    position: absolute;
    bottom:10px;
    right:0;
    padding:0;
}

body #copyrights{
	padding:10px;
}
body #copyrights p{
	padding:10px 0 0 0;
}
body #copyrights hr{
	margin:10px 0 0 0;
}
body #copyrights blockquote{
	border-left:0;
}
body #copyrights a{
	margin-top: 10px;
}

.serch input{
	height:31px;
}

.left-icon{
	display: none;
}
.layui-layout-left{
	left:220px;
}
.menu_ul li ul {
	padding-left: 20px;
	display: none;
}
.menu_ul .angle {
	float: right;
}
.body-div {
	padding:5px 10px;
	box-shadow: 0px 0px 1px 2px rgba(0,0,0,.05);
	min-height:100%;
}
/*body .layui-table thead tr{
	background:0;
}*/
/* 模板视图切换按钮 */
.layui-model{
	padding: 8px 0;
	right:310px;
}
.layui-nav .layui-nav-item a{
	padding: 0 25px;
}
.layui-model .layui-nav-item span{
	display: block;
	width: 100%;
	height: 28px;
	background-repeat: no-repeat;
	background-position: center center;
}
.layui-model .layui-nav-item em{
	display: block;
	margin-top: 2px;
	line-height: 1;
	font-size: 14px;
}
.panorama{
	background: url("../images/panorama.png");
}
.quality{
	background: url("../images/quality.png");
}
.progress{
	background: url("../images/progress.png");
}
.security{
	background: url("../images/security.png");
}
.panorama-model{
	background: url("../images/panorama_model.png");
}
.tilt{
	background: url("../images/tilt.png");
}
/* 用户信息操作 */
.layui-userinfo *{
	font-size: 14px;
}
.layui-userinfo{
	padding: 4px 20px;
}
.layui-userinfo .layui-nav-item .message-wrap{
	position: relative;
	vertical-align: middle;
	display: inline-block;
}
.layui-userinfo .layui-nav-item .message,.layui-userinfo .layui-nav-item .quit{
	padding: 0 10px;
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.layui-userinfo .layui-nav-item .layui-badge{
	padding: 0 4px;
	margin: -15px 22px 0;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	font-style: normal;
	background-color: #fd764c;
}
.layui-userinfo .layui-nav-item:first-child{
	margin-bottom: 3px;
}
.layui-userinfo .layui-nav-item{
	display: block;
	line-height: normal;
}
.layui-nav .layui-nav-item .current_user{
	padding-left: 0;
	display: inline-block;
	vertical-align: middle;
}
#date{
	margin-right: 18px;
}
.message{
	background: url("../images/message.png");
}
.quit{
	background: url("../images/quit.png");
}