body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.panel-title,.current-path h3{
    font-size: 14px;
}
.panel-body{
    overflow: hidden;
}
/* 按钮 */
.btn-right{
    float: right;
}
/* 图标 */
.layout-panel-west .layout-body{
    position: relative;
}
i.fa{
    text-align: center;
    cursor: pointer;
}
i.fa:before{
    color: #00c0ef;
}
i.fa:hover:before{
    color: #009dc3;
}
/* 当前路径 */
.current-path{
    height: 30px;
    line-height: 30px;
}
.current-path .add{
    float: right;
}
.current-path i.fa:before{
    margin-right: 5px;
    color: #FFF;
    background: none;
    border-color: #FFF;
}
.current-path h3{
    float: left;
    color: #0E2D5F;
    font-weight: bold;
}
/* 树 */
.ztree *{
    font-size: 14px;
}
.ztree{
    height: 95%;
    overflow-y: auto;
}
.ztree li a.curSelectedNode{
    background-color: #ececec;
}
.layui-layer-content .ztree{
    margin-top: 0;
}
/*.layout-panel-west .ztree li span.button.ico_docu,.layout-panel-west .ztree li span.button.ico_open,.layout-panel-west .ztree li span.button.ico_close{
    display: none;
}*/
.layout-panel-west .panel-header,.layout-panel-east .panel-header{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 0;
    border: none;
}
.layout-panel-west .panel-title,.layout-panel-east .panel-title{
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    background: #009688;
    color: #FFF;
}
.ztree-title{
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cecece;
    z-index: 99;
    background: #FFF;
}
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
　　.ztree-title{
        top: 0;
    }
}
/* layui表单 */

.layui-input[disabled],.layui-textarea[disabled],.layui-disabled,.layui-input[readonly],.layui-textarea[readonly],.layui-readonly{
    cursor: not-allowed;
    background: #e0e0e0 !important;
    color: #545454 !important;
}
.layui-form-select .layui-input{
    cursor: pointer !important;
}
.layui-form-item .autograph .layui-form-mid{
    padding: 0 !important;
    margin: 0 !important;
}
.layui-form-item .autograph .webuploader-pick{~
    padding: 9px 15px;
}
.layui-form-item .autograph .layui-input-inline{
    margin-right: 0;
    width: 70%;
}

/* 分页 */
.tbcontainer:before,.tbcontainer:after {
    content: " ";
    display: table;
}
.tbcontainer:after{
    clear: both;
}
.tbcontainer{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    width: 100%;
    line-height: 34px;
    background: #FFF;
    border: 1px solid #cecece;
    border-top: none;
}
.pagination li{
    display: inline;
}
.pagination li a{
    position: relative;
    float: left;
    padding: 5px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover{
    z-index: 3;
    color: #fff;
    /*cursor: default;*/
    background-color: #009688;
    border-color: #009688;
}
.pagination .disabled a{
    cursor: not-allowed;
}
select.form-control {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .first,.dataTables_wrapper .dataTables_paginate .last{
    display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0;
    margin-left: -2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled a{
    color: #d2d2d2 !important;
}
.dataTables_wrapper .dataTables_paginate{
    float: left;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    text-align: center;
}
.pagination{
    height: 30px;
}
.dataTables_wrapper .dataTables_info{
    position: absolute;
    bottom: 0;
    left: 70px;
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
}
.dataTables_wrapper .dataTables_length{
    position: absolute;
    bottom: 0;
    left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
    background: none;
    box-shadow: none;
}
/* 表格 */
.dataTables_wrapper,.tbcontainer{
    /*display: none;*/
}
.dataTables_scroll,table.table{
    /*margin-bottom: 20px;*/
}
table.dataTable.no-footer{
    float: left;
    /*margin: 5px 0 20px;*/
    border-top: 1px solid #cecece;
}
/* 表格搜索 */
.dataTables_wrapper .dataTables_filter{
    line-height: 29px;
}
.dataTables_wrapper .dataTables_filter label{
    padding: 6px 13px;
    color: #FFF;
    background: #009688;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_filter input{
    float: left;
    margin-right: 20px;
}
/* 弹层 */
.layui-layer-content{
    padding-top: 20px;
}
.layui-layer-content .layui-form .layui-input-block{
    padding-right: 30px;
}
.layui-layer-content .layui-btn{
    height: 30px;
    line-height: 30px;
}
.layui-layer-content .layui-form-item:last-child .layui-input-block{
    min-height: 30px;
    text-align: right;
}

/**
 * ztree自定义checkbox图标
 */

/* 父节点checkbox图标 */
.eye li span.button.chk{
    width: 18px;
    height: 12px;
    cursor: pointer;
}
.eye li span.button.chk.checkbox_false_part{
    background: url("../images/open_eye.png") no-repeat 0 0;
}
.eye li span.button.chk.checkbox_false_part_focus{
    background: url("../images/open_eye.png") no-repeat 0 0;
}
/* 子节点checkbox图标 */
.eye li span.button.chk.checkbox_true_part{
    background: url("../images/open_eye.png") no-repeat 0 0;
}
.eye li span.button.chk.checkbox_true_part_focus{
    background: url("../images/open_eye.png") no-repeat 0 0;
}
.eye li span.button.chk.checkbox_false_full{
    background: url("../images/open_eye.png") no-repeat 0 0;
}
.eye li span.button.chk.checkbox_false_full_focus{
    background: url("../images/open_eye.png") no-repeat 0 0;
}
.eye li span.button.chk.checkbox_true_full{
    background: url("../images/close_eye.png") no-repeat 0 0;
}
.eye li span.button.chk.checkbox_true_full_focus{
    background: url("../images/close_eye.png") no-repeat 0 0;
}
/* tab切换 */
.tabs{
    padding: 0;
    border-color: #e6e6e6;
}
.tabs-header,.tabs-panels{
    border: none;
}
.tabs-header{
    padding: 0;
    background-color: #fff;
    background-color: #fff;
}
.tabs li a.tabs-inner{
    border-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.tabs li a.tabs-inner,.tabs li a.tabs-inner:hover{
    background: none;
}
.tabs li.tabs-selected a.tabs-inner{
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* checkbox美化 */
.checkbox{
    width: 18px;
    height: 18px;
    border: 0;
    background: url("../images/checkbox.png") no-repeat center center;
}