{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__WEBSITE__/quality/branch/common.css">
<link rel="stylesheet" href="__PUBLIC__/ztree/css/ztreequality/css/engineering.css">
<style>
    #tableContent .imgList {
         border-top: none;
         margin-bottom: .5%;
    }
     .uploadBox i.fa:before{
        background: none;
        color: #ffffff;
    }
    .uploadBox {
        display: none;
    }
    #tableContent{
        border: none;
    }
    .dataTables_wrapper, .tbcontainer {
        display: block;
    }
    /*#tableItem_wrapper{*/
        /*height: calc(100% - 50px);*/
    /*}*/
    #tableContent2 .dataTables_scroll{
        height: 100%;
    }
    #tableContent2 .dataTables_scrollBody{
        max-height: none!important;
        width: 100%;
        height: calc(100% - 39px)!important;
        border-bottom: none!important;
    }
    #tableContent2 .dataTables_scrollHeadInner,#tableContent2 table {
        width: 100%!important;
    }
</style>
<div data-options="region:'west',title:'工程划分',split:true" style="width:260px;">
    <ul id="ztree" class="ztree"></ul>
</div>
<div id="tableContent" data-options="region:'center'">
    <div class="easyui-layout" data-options="fit:true">
        <div id="tableContent2" data-options="region:'north',title:'<i class=\'fa fa-dot-circle-o\'></i>控制点</h3>',split:true" style="width:100%;height: 70%; position: relative;">
            <!--<div class="listName" style="padding-left: 0.5%"><h3><i class='fa fa-dot-circle-o'></i>控制点</h3></div>-->
            <div class="imgList" style="width: 100%;">
                <span id="imgListLeft">
                    <a id="homeWork" class="imgListStyle" onclick="clickConName(0)" href="javascript:;"><img src="__WEBSITE__/quality/branch/work.png" alt="工作">&nbsp;作业</a>
                </span>
                <span class="imgListStyle" id="imgListRight">

                </span>
            </div>
            <table id="tableItem" class="table table-striped table-bordered" style="table-layout:fixed;width: 100%;" cellspacing="0">
                <thead>
                <tr>
                    <th>控制点编号</th>
                    <th>控制点名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
            <div class="tbcontainer">
                <div class="mark"></div>
            </div>
        </div>
        <div id="unitWorkRightBottom" data-options="region:'center',split:true">
            <div id="tt" class="easyui-tabs" style="width:100%;height: 100%;">
                <div title="控制点执行情况" style="padding:20px;">
                    <table id="tableSituation" class="table table-striped table-bordered" cellspacing="0"  width="100%">
                        <thead>
                        <tr>
                            <th>文件名称</th>
                            <th>负责人</th>
                            <th>单位</th>
                            <th>拍摄时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="tbcontainer">
                        <div class="markSituation"></div>
                    </div>
                </div>
                <div title="图像资料" style="padding:20px;">
                    <table id="tableImage" class="table table-striped table-bordered" cellspacing="0"  width="100%">
                        <thead>
                        <tr>
                            <th>图片名称</th>
                            <th>上传人</th>
                            <th>单位</th>
                            <th>上传时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="tbcontainer">
                        <div class="markImage"></div>
                    </div>
                </div>
            </div>
            <div class="uploadBox"><i class="fa fa-upload"></i>上传</div>
        </div>
    </div>
    <div id="form_container" style="display: none;"></div>
</div>

{include file="../app/public/common_footer.html"}
<script>
    //获取控制点name
    function selfidName(id) {
        $.ajax({
            type: "GET",
            url: "./getControlPoint",
            // data: {id: id},
            success: function (res) {
                var res = res.data;
                var optionStrAfter = '';
                for(var i = 0;i<res.length;i++) {
                    $("#imgListRight").html('');
                    controlPointId = res[i].id;
                    controlPointName = res[i].name;
                    if(i==0){
                        optionStrAfter +=
                            '<a href="javascript:;"  class="imgListStyle" onclick="clickConName('+res[i].id+')">' +
                            '<img src="__WEBSITE__/quality/branch/work.png" alt="工作">&nbsp;'+res[i].name+'<span style="display: none;">'+res[i].id+'</span>' +
                            '</a>\n';
                        continue;
                    }
                    optionStrAfter +=
                        '<a href="javascript:;"  class="imgListStyle" onclick="clickConName('+res[i].id+')">' +
                        '<img class="imgNone" src="__WEBSITE__/quality/branch/right.png" alt="箭头">' +
                        '<img src="__WEBSITE__/quality/branch/work.png" alt="工作">&nbsp;'+res[i].name+'<span style="display: none;">'+res[i].id+'</span>' +
                        '</a>\n';
                };
                $("#imgListRight").append(optionStrAfter);
                console.log($('.imgList').outerHeight());
                $("#tableItem_wrapper").height("calc(100% - "+$('.imgList').outerHeight(true)+"px)");
            }
        })
    }
</script>
<script src="__WEBSITE__/quality/branch/control.js"></script>
</body>
</html>