{include file="../app/public/common_header.html"}

<style>
    #tableContent{
        overflow: auto;
    }
    #tableContent .dataTables_wrapper, .tbcontainer{
        display: block;
    }
    #tableContent .mybtn,#tableContent .assModel,#tableContent .move,#tableContent .file,#tableContent .oneKeyArchiv{
        float: right;
        background-color: #00c0ef;
    }
    #tableContent .dataTables_wrapper {
        position: relative;
        clear: both;
        zoom: 1;
        overflow: auto;
    }
    #tableContent table{
        width: 800px;
    }
    table td{word-break:break-all;}

    table{table-layout:fixed;}

    #tableContent .select-color {
        background-color: #FDD5B5 !important;
    }
    #tableContent .even {
        background-color: #ffffff;
    }
    #tableContent .odd {
        background-color: #f9f9f9;
    }
</style>
<div id="tableContent" data-options="region:'center',title:''" style="padding:5px;background:#ffffff;">
    <table id="tableItemChose" class="table cell-border" cellspacing="0"  width="100%">
        <thead>
        <tr>
            <th>选择</th>
            <th>创建日期</th>
            <th>文件名称</th>
            <th>文件日期</th>
            <th>收文单位</th>
            <th>发件人</th>
            <th>收件人</th>
            <th>状态</th>
        </tr>
        </thead>
    </table>
    <div class="tbcontainer">
        <div class="mark"></div>
    </div>
    <input type="hidden" name="list_id" id="listId" >
</div>

{include file="../app/public/common_footer.html"}
<script>
  //表格
  var tableItemChose = $('#tableItemChose').DataTable({
    pagingType: "full_numbers",
    processing: true,
    "scrollY": "336px",
    "scrollCollapse": "true",
    "paging": "false",
    serverSide: true,
    ajax: {
      "url": "../../archive/common/datatablesPre?tableName=archive_income_send&table_type=2",
    },
    dom: 'lf<"mybtn layui-btn layui-btn-sm">rtip',
    columns: [
      {
        name: "id"
      },
      { name: "create_time" },
      { name: "file_name" },
      { name: "date" },
      { name: "p_name" },
      { name: "send_name"},
      { name: "income_name" },
      { name: "status" }
    ],
    columnDefs: [
      {
        targets: [0],
        width:'50px',
        "searchable": false,
        "orderable": false,
        "render": function (data, type, row) {
          var html = "<a type='button' href='javasrcipt:;' class=''>" +
            "<input type='radio' name='sex' class='sex'  onclick='checkFile(this)'>" +
            "</a>";
          return html;
        }
      },
      {
        "targets": [1],
        width:'100px'
      },
      {
        "targets": [2],
        width:'100px'
      },
      {
        "searchable": false,
        "orderable": false,
        "targets": [3,4,5]
      },
      {
        "searchable": false,
        "orderable": false,
        'targets': [7],
        'render': function (data, type, row,meta) {
          if (data == '1'){
            return  '未发送';
          }else if(data == '2'){
            return  '已发送';
          }else if(data == '3'){
            return  '已签收';
          }else{
            return  '已拒收';
          }
        }
      }
    ],
    language: {
      "lengthMenu": "_MENU_",
      "zeroRecords": "没有找到记录",
      "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
      "infoEmpty": "无记录",
      "search": "搜索：",
      "infoFiltered": "(从 _MAX_ 条记录过滤)",
      "paginate": {
        "sFirst": "<<",
        "sPrevious": "<",
        "sNext": ">",
        "sLast": ">>"
      }
    },
    "fnInitComplete": function (oSettings, json) {
      $('#tableItemChose_length').insertBefore(".mark");
      $('#tableItemChose_info').insertBefore(".mark");
      $('#tableItemChose_paginate').insertBefore(".mark");
    }
  });
  //保存
  $(".mybtn").html("<div id='test3'>保存</div>");

  var checkId;  //选中id
  var checkName;
  var flag;
  var form;
  var temCode;
  var temName;

  layui.use(['form', 'layedit', 'laydate'], function () {
    form = layui.form;
    var layer = layui.layer;

    function closWin() {
      var index = parent.layer.getFrameIndex(window.name);
      parent.layer.close(index);
    };

    //点击保存
    $("#test3").click(function () {
      if(flag){
       $.ajax({
         url:"./addRelationFile",
         type:"POST",
         data:{
           list_id:$("#listId").val(),
           id:checkId
         },
         dataType:"JSON",
         success:function (res) {
           if(res.code == 1){
             parent.refreshTable()
             parent.layer.msg("添加成功");
           }else{
             parent.layer.msg(res.msg);
           }
           closWin()
         }
       });
      }else{
        parent.layer.msg("请先选择");
      }
    });
  });

  //点击选中单选
  function checkFile(that) {
    if($(that).is(":checked")){
      flag = true;
    }else{
      flag = false;
    }
  };

  //点击选中变色
  $("#tableItemChose").delegate("tbody tr","click",function (e) {
    if($(e.target).hasClass("dataTables_empty")){
      return;
    }
    $(this).find("td:first-child input").prop("checked",true);
    checkFile($(this).find("td:first-child input"));
    $(this).addClass("select-color").siblings().removeClass("select-color");
    var selectData = tableItemChose.row(".select-color").data();//获取选中行数据
    checkId = selectData[0];
    checkName = selectData[2];
    temCode = selectData[1];
    temName =  selectData[2];
  });
</script>
</html>