<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/ztree/css/zTreeStyle/zTreeStyle.css"  media="all">
</head>
<style>
    h3{
        margin-top: 5px;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
    }
    .layui-btn{
        position: fixed;
        right: 10px;
        top: 10px;
    }
</style>
<body style="padding:10px;">
<div class="body-div">
    <input type="hidden" id="roleId">
    <h3 id="path" style="margin-left: 5px;color:#56abe9;">系统管理-超级管理员</h3>
    <a class="layui-btn layui-btn-normal" onclick="savecog()">保存</a>
    <hr>
    <div style="margin-top: 20px;">
    </div>
    <ul id="ztree" class="ztree" style=" height: 97%; padding-left: 20px;"></ul>

    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/ztree/js/jquery.ztree.all.min.js"></script>
    <script>
      layui.use(['layer'], function() {
        var layer = layui.layer;
      });
    </script>

    <script>
      var selectArr = [];
      //获取参数
      var objdata = {};
      function urlSearch() {
        var str=location.search;
        str=str.substr(1); //取得所有参数   stringvar.substr(start [, length ]
        var arr=str.split("&"); //各个参数放到数组里
        for(var i=0;i < arr.length;i++){
          num=arr[i].indexOf("=");
          if(num>0){
            name=arr[i].substring(0,num);
            value=arr[i].substr(num+1);
            objdata[name]=value;
          }
        }
      }
      //获取参数
      urlSearch();

      $("#path").html(decodeURIComponent(objdata.path))
      $("#roleId").val(objdata.roleId);
      //数据处理
      function DataFilter(treeId, parentNode, responseData) {
        selectArr = responseData.select;
        var responseData = responseData.all_point;
        return responseData;
      }
      //初始化配置树
      var setting = {
        view: {
          showLine: true, //设置 zTree 是否显示节点之间的连线。
          selectedMulti: false, //设置是否允许同时选中多个节点。
          // dblClickExpand: true //双击节点时，是否自动展开父节点的标识。
        },
        async: {
          enable : true,
          autoParam: ["pid"],
          type : "post",
          url : "./cateControllerIndex",
          otherParam: {"id":function () {
              return $("#roleId").val();
            }},
          dataType :"json",
          dataFilter:DataFilter

        },
        data:{
          simpleData : {
            enable:true,
            idkey: "id",
            pIdKey: "pid",
            rootPId:0
          },
          key:{
            name:"name"
          }
        },
        check:{
          enable: true,
        },
        callback:{
          onAsyncSuccess:function () {
            if(!selectArr||selectArr.length==0){
              zTreeObj.expandAll(true);
              return;
            }
            $.each(selectArr, function (i, item) {
              var node = zTreeObj.getNodeByParam("id", item);
              zTreeObj.checkNode(node, true, false);
            });
            zTreeObj.expandAll(true);
          }
        }
      };
      //初始化树
      zTreeObj = $.fn.zTree.init($("#ztree"), setting, null);

      //保存
      function savecog() {
        var idArr = [];
        var Snodes = zTreeObj.getCheckedNodes(true);
        $.each(Snodes, function (i, item) {
          idArr.push(item.id);
        });
        $.ajax({
          url:'./cateControllerEdit',
          type:"POST",
          data:{admin_menu_id:idArr,id:$("#roleId").val()},
          dataType:"JSON",
          success:function (res) {
            if(res.code==1){
              window.parent.cateMsg(res.msg);
            }else{
              window.parent.cateMsg(res.msg);
            }
          }
        })
      }
    </script>

</div>
</body>
</html>