{include file="../app/public/common_header.html"}

<link rel="stylesheet" href="__WEBSITE__/approvalconfig/approvalconfig/index.css">

<div id="division" data-options="region:'west',title:'工程划分',split:true" style="width:240px;">
    <ul class="ztree" id="ztree"></ul>
</div>

<div id="unitWorkParent" data-options="region:'center'" style="background:#fff;">
    <div class="easyui-layout" data-options="fit:true">
        <div id="unitWork" data-options="region:'west',title:' 单元工',split:true" style="border-left:none;border-bottom: none;width:210px;background:#fff;">
            <ul class="ztree" id="ztreeUnit"></ul>
        </div>
        <div id="tableContent" data-options="region:'center',split:true" style="border-top: none;width:1255px; position: relative;">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'west',title:'全部模板',split:true" style="border-left:none;border-bottom: none;width:260px;">
                    <div id="level3" style="width: 100%;height: 100%;">
                        <div id="searchBox">
                            <input id="search" class="layui-input" type="text" placeholder="搜索" >
                        </div>
                        <hr>
                        <div id="allFrom">
                            <ul></ul>
                        </div>
                    </div>

                </div>
                <div data-options="region:'center'" style="border-top: none;">
                    <div id="btn-box">
                        <a onclick="lookform()" class="layui-btn-normal layui-btn">查看表单</a>
                        <a onclick="addStatus()" class="layui-btn-normal layui-btn">添加状态</a>
                        <a onclick="addStep()" class="layui-btn-normal layui-btn">添加步骤</a>
                        <button id="test">sdfdsff</button>
                    </div>
                    <div>

                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>



<form id="addStatus" action="#" onsubmit="return false" class="layui-form" style="display: none">
    <div class="layui-form-item">
        <div class="autograph">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select name="" id="" lay-verify="required">
                    <option value="0">未开始</option>
                    <option value="1">进行中</option>
                    <option value="2">已完成</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="autograph">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="class_name" id="class_name" placeholder="名称" lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <hr class="layui-bg-gray">
    <div class="layui-form-item">
        <div style="text-align: center;">
            <button class="layui-btn" lay-submit="" lay-filter="demo1"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
            <button type="reset" class="layui-btn layui-btn-danger layui-layer-close"><i class="fa fa-close"></i> 返回</button>
        </div>
    </div>
</form>
<form id="addStep" action="#" onsubmit="return false" class="layui-form" style="display: none;">
    <div class="layui-form-item">
        <div class="autograph">
            <label class="layui-form-label">当前步</label>
            <div class="layui-input-inline">
                <select name="" id="" lay-verify="required">
                    <option value=""></option>
                    <option value="0">未开始</option>
                    <option value="1">进行中</option>
                    <option value="2">已完成</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="autograph">
            <label class="layui-form-label">下一步</label>
            <div class="layui-input-inline">
                <select name="" id="" lay-verify="required">
                    <option value=""></option>
                    <option value="0">未开始</option>
                    <option value="1">进行中</option>
                    <option value="2">已完成</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="autograph">
            <label class="layui-form-label">打回步</label>
            <div class="layui-input-inline">
                <select name="" id="" lay-verify="required">
                    <option value=""></option>
                    <option value="0">未开始</option>
                    <option value="1">进行中</option>
                    <option value="2">已完成</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div style="text-align: center;">
            <button class="layui-btn sub2" lay-submit="" lay-filter="demo2" ><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
            <button type="reset" class="layui-btn layui-btn-danger layui-layer-close"><i class="fa fa-close"></i> 返回</button>
        </div>
    </div>
</form>
<div id="form_container" style="display: none;"></div>

{include file="../app/public/common_footer.html"}
<script src="__WEBSITE__/approvalconfig/approvalconfig/index.js"></script>
</body>
</html>