.ztree{
    margin-top: 35px;
}
.current-path{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #cecece;
}
.ztree-title i.fa{
    width: 13%;
}
.ztree-title i.fa-sitemap:before,.ztree-title i.fa-arrow-circle-up:before{
    color: #009688;
}
.ztree-title i.fa-pencil:before,.ztree-title i.fa-plus-square:before{
    color: #d85c74;
}
.ztree-title i.fa-arrow-circle-down:before{
    color: #dca107;
}
.current-path i.fa:hover:before{
    color: #FFF;
}
.layui-form-select .layui-input{
    padding-right: 0;
}
.upload label{
    width: 58px;
    height: 39px;
}
.layui-input[name="pname"]{
    cursor: no-drop;
    background: #ccc;
}
.layui-form-item .department .layui-input-inline{
    margin: 0;
}
.layui-form-item .department .layui-form-mid{
    padding: 9px 12px !important;
    background: #1E9FFF;
}
.layui-form-item .department .layui-form-mid i.fa:before{
    color: #FFF;
}
.dataTables_filter{
    margin: 6px 0;
}
.add{
    margin: 5px 0;
}
.layui-layer-content .layui-input-block{
    margin-right: 45px;
}