{include file="../app/public/common_header.html"}
<link rel="stylesheet" href="__WEBSITE__/quality/supervisionlog/index.css">
<div data-options="region:'west',title:'抽检记录',split:true" style="width:240px;">
    <ul class="ztree" id="ztree"></ul>
</div>
<div data-options="region:'center',title:'当前路径：'" style="padding:5px;background:#fff;">

    <table id="tableItem" class="table table-striped table-bordered" cellspacing="0"  width="100%">
        <thead>
        <tr>
            <th>名称</th>
            <th>上传日期</th>
            <th>上传人</th>
            <th>单位</th>
            <th>位置信息</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>
    <div class="tbcontainer">
        <div class="mark"></div>
    </div>
</div>
<div id="form_container" style="display: none;"></div>
{include file="../app/public/common_footer.html"}
<script>
    var tableName = "quality_sampling";
    var type_model = "SamplingModel";
    var positionUrl = "../sampling"
</script>
<script src="__WEBSITE__/quality/supervisionlog/index.js"></script>
</body>
</html>